[2016-12-22 02:47] wsargent opened #22 "Use Duration classes with setRequestTimeout"
The API still uses `int` to set request timeout -- now we have JDK 1.8, the Java API should use [`java.time.Duration`](https://docs.oracle.com/javase/8/docs/api/java/time/Duration.html) and the Scala API should use [`scala.concurrent.duration.FiniteDuration`](http://www.scala-lang.org/api/2.12.0/scala/concurrent/duration/FiniteDuration$.html) and the int version should be deprecated.

[2016-12-22 19:52] wsargent opened #23 "Add paradox documentation"
Put together a paradox site for standalone use

[2016-12-22 19:53] wsargent opened #24 "Add back request filters"
May not be able to have request filters in the general case, but should at least see if they fit into the AhcWSRequest use case.

Since JDK 1.8 is out and we have 2.12, this may be a good point to reexamine the API and see if something more functional can be used i.e. java.util.function.

[2016-12-22 19:57] wsargent opened #25 "Add 2.10 support"
If we can add 2.10 support for play-ws-standalone, we can sync up with Gigahorse:

https://github.com/eed3si9n/gigahorse

This may requires backporting play-json to 2.10, but there are no direct dependencies on Play involved.

[2016-12-22 20:00] wsargent opened #26 "Add mock support"
It'd be nice to have mock WS client support, such as:

https://github.com/leanovate/play-mockws

[2016-12-28 15:36] Vachman opened #27 "How to add standalone version to SBT project ?"
Hi, help me please. Maybe i am doing something wrong,
but  i can't even install this lib.

I am adding this to build.sbt
`libraryDependencies += "com.typesafe.play" %% "play-ahc-ws-standalone" % "2.6.0-M1"`

and getting:
[code]

Also i tried to clone this repo and open `sbt console` in templeate/standalone project,
but i am still getting the same error.

[2016-12-30 02:41] wsargent commented on #27
This project has not been released yet.  Please check back later.

[2016-12-30 02:41] #27 closed

[2017-01-10 21:10] wsargent commented on #25
Depends on https://github.com/playframework/play-json/pull/26 being merged

[2017-01-10 21:17] wsargent opened #34 "Add akka-http support"
Gigahorse has akka-http support, I believe that @schmitch also has a branch open with akka-http implementation of WSClient.

[2017-01-11 04:47] wsargent opened #38 "Add typesafe config parser"
The WSConfigParser from Play WS takes a configuration and environment.  It should take a `com.typesafe.config.Config` here and have a version that reads from ConfigFactory / application.conf

[2017-01-11 10:06] ktoso commented on #34
The most interesting aspect would be the streaming handling :)

[2017-01-11 10:55] schmitch commented on #34
what do you exactly mean with "streaming handling"? play-ws actually implemented a way to use reactive-streams ;)

And yes I have a branch that uses the standalone API:
https://github.com/schmitch/play-ws-akka/

Currently I implemented most in Scala, but I'm not sure if I keep that, since play-ws Java was mutable and my version would be immutable.

I actually still need to port the test suite and

[2017-01-12 17:09] wsargent opened #42 "Add Source and Inputstream WSBody handling to Scala API"
It's a bit strange, but the WSRequest on the Java API can handle Source and Inputstream, and I don't think the Scala API handles that specifically.

[2017-01-12 20:46] #38 closed

[2017-01-17 02:49] #24 closed

[2017-01-17 02:50] wsargent opened #47 "Replace the set* methods in Java API"
Probably everything should use `withFoo` rather than `setFoo` to keep it inline with the Scala API.

Should deprecate rather than remove old API to prevent breakage.

[2017-01-17 02:57] gmethvin commented on #47
Also the Java API is currently mutable. If we keep it mutable it should probably be `addFoo`. Or we can switch to immutable and use `withFoo`.

[2017-01-17 08:13] schmitch commented on #47
The Question might be, if it is really good to have a immutable Java API?
I prefer the Immutable Style even on Java, but it might be slower.
My play-ws-akka project https://github.com/schmitch/play-ws-akka actually uses a immutable way, but I wasn't sure if I should keep it and create a custom request for java, too make it mutable.

The big + for immutable is actually that one can implement Java a

[2017-01-18 01:05] gmethvin opened #48 "Should store headers and query params as a list instead of a map"
Storing as a map causes re-ordering of query params which might be undesirable in some cases. It would be fine to use a `Seq[(String, String)]`.

See playframework/playframework#6884, specifically https://github.com/playframework/playframework/pull/6884#issuecomment-272674376

[2017-01-18 01:14] wsargent commented on #47
The nice thing about having an immutable Java API is that you can pass it between threads -- this may not seem like a big deal, but consider a request which gets put together from several dependent microservice responses, each happening in its own thread context...

[2017-01-18 05:50] gmethvin commented on #47
I agree. Let's just migrate to `with*`.

[2017-01-20 05:52] wsargent opened #52 "Create Java WSClientConfig builder API"
It's a bit strange to have the case classes be exposed through the Java API.  There should be an actual Java builder that can be passed around, and can eventually return an AsyncHttpClientConfig object back out.

[2017-01-20 06:17] wsargent opened #53 "Create fluent JDK 1.8 style Java API"
Should use Optional, Functional interfaces, etc.  A Java specific AhcWSClientConfig should be created using a Java builder.

[2017-01-21 01:43] wsargent opened #55 "Refine WSRequestFilter"
On the Scala API side, we could define WSRequestFilter as

[code]

along with some Singleton apply methods that make wrappers work.

On the Java side, we can define it as a functional interface so we can use lambdas and such.

[2017-01-21 01:48] wsargent opened #56 "Turn WSClientConfig into an interface"
There should be only one config object, defined by the implementation.  WSClientConfig should be an interface or trait that the config object implements.

[2017-01-21 10:57] schmitch commented on #47
I also think if we make a `with*` API, we should probably model it so that the underlying interfaces might be used for both, Scala and Java. The only tricky parts are `Optional` vs `Option`, `javadsl.Source` vs `scaladsl.Source` and `CompletionStage` vs `Future`. For the latter, one can make a simple wrapper that just calls the underlying `Future`/`CompletionStage` just like `scala-java8-compat` d

[2017-01-21 23:06] #53 closed

[2017-01-21 23:32] #55 closed

[2017-01-24 16:03] wsargent opened #59 "Set up MiMa"
Should enable the migration manager on this, same as Play-JSON.

See https://github.com/typesafehub/migration-manager and https://github.com/playframework/play-json/pull/18

[2017-01-24 23:54] #59 closed

[2017-02-01 17:48] wsargent commented on #25
Fixed by https://github.com/playframework/play-json/pull/32

[2017-02-01 22:01] wsargent opened #65 "Unshaded versions of asynchttpclient showing up in ivy repo?"
### Expected Behavior

play-ws shades asynchttpclient and oauth.signpost -- the unshaded versions should not show up as POM dependencies of the project.

### Actual Behavior

If you create a sample project including only Play-WS, then you can see it depends on the unshaded code still in an Intellij IDEA project:

[code]

Although it does not show up in mvnrepository for some reason:

https://mvnre

[2017-02-01 22:02] wsargent opened #66 "Add cookie support to CacheableResponse"
The getCookie method in CacheableResponse still returns ???

https://github.com/wsargent/play-ws/blob/b43eebb966cd671d0470ffc574f7d1afd5bbd02d/play-ahc-ws-standalone/src/main/scala/play/api/libs/ws/ahc/cache/CacheableResponse.scala#L169-L169

[2017-02-01 22:06] wsargent opened #67 "Enable secondary keys with Vary support"
Handle secondary keys in cache request to manage https://tools.ietf.org/html/rfc7234#section-4.1

https://github.com/wsargent/play-ws/blob/20f96945f11acc92ae8e9625a0c6c6dcf5e498a7/play-ahc-ws-standalone/src/main/scala/play/api/libs/ws/ahc/cache/AsyncCachingHandler.scala#L207-L207

[2017-02-01 22:08] wsargent opened #68 "Enable warning state for cache when disconnected from network"
Cache may have a specific warning state when disconnected from network:

https://github.com/httpwg/http11bis/issues/5

https://lists.w3.org/Archives/Public/ietf-http-wg/2015AprJun/0267.html

[2017-02-01 22:10] wsargent opened #69 "How does stale-while-revalidate work with POST / unsafe methods?"
This may be academic considering most people only want to store on GET, but for the record:

https://github.com/wsargent/play-ws/blob/20f96945f11acc92ae8e9625a0c6c6dcf5e498a7/play-ahc-ws-standalone/src/main/scala/play/api/libs/ws/ahc/cache/CachingAsyncHttpClient.scala#L121-L121

[2017-02-07 17:29] Ir1sh commented on #26
Maybe you have some advice regarding this issue on that repo? https://github.com/leanovate/play-mockws/issues/20

If that work was done on that repo would you guys be able to make use of it as the 'official' play-ws mock or would you still probably implement your own one?

[2017-02-07 18:52] wsargent commented on #26
Note that play-ws-standalone is a pure interface-only API, so whatever is under the hood in play-mockws should work fine.  There's always going to be extra dependencies in any implementation.

[2017-02-14 22:31] wsargent opened #79 "Add Websocket support"
AsyncHTTPClient has underlying websocket support -- we should be able to do this with Akka Streams fairly easily.

[2017-02-14 22:33] ktoso commented on #79
Yeah, websockets are rather simple with Akka, pretty low level API though so I think if you could package it up in WS in a nice API that'd be awesome actually

[2017-02-15 01:01] wsargent commented on #79
We can do the same thing we do on the client side:

[code]

https://www.playframework.com/documentation/2.5.x/ScalaWebSockets

[2017-02-23 01:35] wsargent opened #83 "Add withCookies to WSRequest"
The WsCookie support could be improved.

[code]

returns a Seq[WsCookie]'s but there is no WsCookie support in the builder:

[code]

[2017-02-23 02:35] wsargent opened #84 "Can't configure Content-Type for Multipart Form Uploading"
### Play Version (2.5.x / etc)

2.5.10

### API (Scala / Java / Neither / Both)

Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Ubuntu 16.04.1 LTS

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

1.8.0_121

### Expected Behavior

Following the spec set by [RFC 2388]( https://www.ietf.org/rfc/rfc2388.txt) a POST with `Content-Type=multipart/form-data` should be able to s

[2017-03-09 13:50] domdorn opened #85 "shaded asynchttpclient sources are not published"
shaded-asynchttpclient-1.0.0-M4-sources.jar is only 256 bytes big and contains only the manifest.mf file.

[2017-03-09 13:51] domdorn opened #86 "organization still com.typesafe instead of com.lightbend"
the artifacts are still published under com.typesafe instead of com.lightbend

[2017-03-09 14:33] domdorn opened #87 "Exceptions when using together with AsyncHttpClient"
Sorry for cross-posting. I've written down the details of this issue at:
https://github.com/playframework/playframework/issues/7056

It looks like (at least in my Play 2.6.0-M1 app) that the shaded AsyncHttpClientDefaults class reads the ahc-default.properties that are pulled in from the non-shaded version on my classpath.

The issue probably comes from
https://github.com/AsyncHttpClient/async-htt

[2017-03-10 14:35] igmar opened #88 "[2.5.x] Add API to get a single header"
Currently, in 2.5.x there is no way to get a single header from a WSRequest : The API only has getHeaders, which returns a Map<String, Collection<String>>

We can easy get a simple header from the map, but having a bit more clean API would be nice.

[2017-03-25 18:31] wsargent opened #92 "Fix sbt-release for sonatype publishing"
Currently the publish to Sonatype fails, and so the artifacts are sent to staging but have to be published from the staging repository by hand (by clicking "close" and then "publish") rather than directly.

Not sure what is causing this behavior, and it's hard to fake publishing to Sonatype.

[2017-03-30 13:34] gslowikowski opened #93 "Tagging releases"
Tag every release, please.

[2017-03-30 13:36] schmitch commented on #93
currently this should work now, the first releases were probably untagged since sbt-release was not configured.

[2017-03-30 13:37] gslowikowski commented on #93
Can you manually create tags for previous releases?

[2017-03-30 13:38] schmitch commented on #93
well I don't know the actual commits, and they were probably just milestones. maybe @wsargent knows them and can do that?

[2017-03-30 14:24] marcospereira commented on #93
We still have some configurations to do, see #92.

The tagging step is not working correctly, at least no tag was pushed for M6.

[2017-03-30 23:49] wsargent commented on #93
Getting sbt-release to actually work has been non-trivial.  If someone can lend a hand that would be nice...

[2017-03-31 01:55] gmethvin commented on #93
So, I did the last release (1.0.0-M6), and it turns out sbt-release created the tag locally but it didn't get pushed to remote. A `git push --tags` fixed that. So this seems like this a possible bug in sbt-release.

[2017-03-31 08:23] gslowikowski commented on #93
The last question in release process is "Push changes to the remote repository (y/n)? [y]". If you answer "yes" [pushChanges](https://github.com/sbt/sbt-release/blob/v1.0.3/src/main/scala/ReleaseExtra.scala#L213) step is performed. It calls VCS (Git in this case) [pushChanges](https://github.com/sbt/sbt-release/blob/v1.0.3/src/main/scala/ReleaseExtra.scala#L245) method and it should [push tags](ht

[2017-04-11 19:20] domdorn commented on #87
So what we would need to do is to also rename the ahc-default.properties to something like play.shaded-ahc-default.properties and replace references to it.
I can provide a PR for that if that is OK for you @wsargent  / @marcospereira

[2017-04-11 19:32] wsargent commented on #87
Yes please.

[2017-04-18 17:48] franzgranlund opened #97 "WSRequest should have a setCookies() method"
### Play WS Version (2.5.x / etc)
Using Play WS 2.5

### API (Scala / Java / Neither / Both)
Java (don't know about Scala)

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
All I guess

### Improvement

It would be very convenient if there was a `.setCookies(List<WSCookie> cookies)` method on `WSRequest` to easily share cookies between different requests. `WSResponse` have a `.getCoo

[2017-04-18 17:59] marcospereira commented on #97
For the Scala version see #83.

Also, it could be relevant to see discussion in playframework/playframework#7016 to have consistent names here. To resume the discussion there, we decide to have something like:

1. `withCookies`: set cookies values or replace the current cookies
2. `addCookie`: add/append a new cookie.

[2017-04-20 23:29] wsargent opened #98 "Fix thread leak in CachingAsyncHttpClient"
CachingAsyncHttpClient has

[code]

But does not close down the thread pool on exit.  Also, wouldn't it be better to handle this with Akka?

[2017-04-25 00:55] wsargent opened #101 "Rationalize API"
See https://github.com/playframework/playframework/issues/2240 and https://github.com/playframework/playframework/issues/5813

play.mvc.Http.RequestHeader.headers() returns a Map<String, String[]>
play.mvc.Http.RequestHeader.getHeader() return just a String and not String[]
WS.Response.getHeader() return just a String and not a String[]

[2017-04-25 19:00] marcospereira commented on #97
Just a reminder to myself, if we decide to change the behavior of the existent APIs, we should update the migration guide in Play repository.

[2017-04-26 06:30] jjpatel361 commented on #101
@wsargent I would be willing to submit a PR on this given the guidance from you. I have seen the discussion thread. I am wondering how is this different than having
[code]

Is this already taken?

[2017-04-26 17:09] marcospereira commented on #101
See #88 too.

[2017-04-26 18:09] jjpatel361 commented on #101
Ok so there will be three methods
[code]
That's my understanding of it.

[2017-04-28 01:18] wsargent commented on #98
Fixed as part of https://github.com/playframework/play-ws/pull/99

[2017-04-28 01:18] #98 closed

[2017-04-28 04:19] wsargent commented on #86
that is by design

[2017-04-28 04:19] #86 closed

[2017-04-28 04:19] wsargent commented on #85
fixed

[2017-04-28 04:19] #85 closed

[2017-04-28 04:20] wsargent commented on #85
Okay, not fixed, but the sources is org.asynchttpclient

[2017-04-28 21:35] domdorn commented on #85
hmm... yeah, problem is debugging issues related to plays ws client that way..

the underlying problem seems to be, that the shading happens on bytecode level... just noticed this when I tried to replace those constants
https://github.com/AsyncHttpClient/async-http-client/blob/1b35dbe96a25b253ac0381ce59b826a8831a7cb7/client/src/main/java/org/asynchttpclient/config/AsyncHttpClientConfigHelper.java#

[2017-05-03 00:45] #83 closed

[2017-05-03 21:21] marcospereira commented on #97
Closed by #102.

[2017-05-03 21:21] #97 closed

[2017-05-05 07:29] akkie opened #108 "Make the client mockable with Java mocking frameworks"
### Play WS Version (2.5.x / etc)
1.0.0-M8

### API (Scala / Java / Neither / Both)
Scala

### Expected Behavior

It should be able to mock the client with Java mocking libraries like mockito, EasyMock or JMock.

### Actual Behavior

The following code doesn't compile:

[code]

[code]

### Reproducible Test Case

https://github.com/mohiva/play-silhouette/pull/509

### Links

https://groups.google.

[2017-05-05 12:14] jjpatel361 commented on #101
Is my understanding correct on above part? or I am still missing something.

[2017-05-05 15:32] marcospereira commented on #93
@wsargent was this fixed by #106 and #107?

[2017-05-05 15:32] marcospereira commented on #92
@wsargent was this fixed by #106 and #107?

[2017-05-06 01:05] wsargent commented on #92
Yes. :-D

[2017-05-06 01:05] #92 closed

[2017-05-06 01:06] wsargent commented on #93
Yes 😄

[2017-05-06 01:06] #93 closed

[2017-05-06 01:07] wsargent commented on #66
Fixed by https://github.com/playframework/play-ws/pull/109

[2017-05-06 01:07] #66 closed

[2017-05-06 01:07] wsargent commented on #88
This is only 2.6.x API though

[2017-05-08 09:54] yangbajing opened #113 "Should preserve existing headers when using withBody"
### Play WS Version (2.6.x / etc)

1.0.0-M8

### API (Scala / Java / Neither / Both)

StandaloneAhcWSRequest.withBodyAndContentType

### Expected Behavior

request.addHttpHeaders(
        "hl-app-id" -> appId,
        "hl-timestamp" -> timestamp,
        "hl-echo-str" -> echoStr,
        "hl-access-token" -> accessToken
      )

Send the HTTP Headers I have set the custom header.

### Actual Behav

[2017-05-08 12:19] igmar commented on #88
Making this a 2.6.x thing would be good enough for me.

[2017-05-08 18:46] wsargent commented on #108
The other option is to add a mock implementation directly if possible.

[2017-05-08 23:54] wsargent commented on #113
I'm not sure I understand.  There is no withBodyAndContentType method in Play WS.

[2017-05-09 15:03] akkie commented on #108
@wsargent Could you please illustrate this a bit more? Do you mean based on the `play-ws` traits without the typing stuff (which I think isn't possible) or a complete implementation like `play-mockws`? Or do you mean a wrapper around the `play-ws` functionality`? But then I have to test this wrapper too, which isn't easily possible.

[2017-05-09 15:59] wsargent commented on #108
Basically -- taking play-mockws and merging it into play-ws.  Then the release cycle problem goes away.

[2017-05-09 17:53] marcospereira commented on #113
@wsargent I think the problem is here:

https://github.com/playframework/play-ws/blob/master/play-ahc-ws-standalone/src/main/scala/play/api/libs/ws/ahc/StandaloneAhcWSRequest.scala#L176-L182

It is a private method used by `withBody`. The `else` clause should be using `addHttpHeader` instead.

[2017-05-09 19:21] akkie commented on #108
This would be an option. But is it worth to implement a mock implementation instead of using types based on generics? I don't know the problems you had with the generic implementation. Does it generally not work or is it only ugly?

[2017-05-09 22:51] #113 closed

[2017-05-10 16:58] #88 closed

[2017-05-10 18:42] marcospereira commented on #101
This was closed in #115.

[2017-05-10 18:42] #101 closed

[2017-05-13 03:09] #22 closed

[2017-05-15 20:45] domdorn commented on #87
Ok, unfortunately, "jar jar links" only supports changing the package name of the classes transformed. I've managed to rename the ahc-default.properties and ahc.properties files themselves, but unfortunately, references to these are hardcoded (as constants) in
https://github.com/AsyncHttpClient/async-http-client/blob/async-http-client-project-2.0.27/client/src/main/java/org/asynchttpclient/config/

[2017-05-15 20:48] domdorn commented on #87
A alternative to shading the async-http-client on a class-file level could be to include the async-http-client project as a sbt-source-dependency .. that way it might be possible to basically take the files and rewrite them directly (and thus making also changes to the constants in AsyncHttpClientConfigHelper .. but its another "hack".

[2017-05-23 16:00] akkie commented on #108
@wsargent I need to know if there is a solution for the final Play 2.6 release, so that I can proceed with my tasks. A short info would be great!

[2017-05-23 21:50] wsargent commented on #108
Hi @akkie can you provide a small self-contained project as described in https://groups.google.com/d/msg/play-framework/mYPRPbfa8Uk/DFl3ONJcAgAJ ?

[2017-05-23 22:35] wsargent commented on #108
@akkie This unit test seems to work fine:

[code]

[2017-05-24 08:10] TopSpoofer opened #122 "there is no doc for file upload"
the file upload at play's doc was don't working!

[2017-05-24 15:31] akkie commented on #108
@wsargent Yes it works, but normally you deal with the `WSClient` and not only with the request and the response parts. So it's possible to define your own request trait, but with the currently provided methods, you cannot assign this custom class to your `WSClient.url` method, which is mostly the entry point in your implementations.

But, you brought me to an idea. From the beginning, I've used t

[2017-05-24 16:04] wsargent commented on #108
Awesome!

[2017-05-26 17:22] wsargent commented on #65
Fixed in https://mvnrepository.com/artifact/com.typesafe.play/play-ahc-ws-standalone_2.12/1.0.0-RC2

[2017-05-26 17:22] #65 closed

[2017-06-04 13:41] wsargent opened #125 "Add MIMA integration"
Add MIMA integration

https://github.com/typesafehub/migration-manager

[2017-06-04 13:42] wsargent commented on #122
@TopSpoofer Can you describe how it "doesn't work?"

https://www.playframework.com/documentation/2.5.x/ScalaWS#Submitting-multipart/form-data

[2017-06-05 01:34] wsargent opened #126 "Add multipart-form data to standalone client"
Currently the standalone client does not have built in support for multiform post.  The functionality is actually in Play-WS in the main project, under https://github.com/playframework/playframework/blob/master/framework/src/play-ahc-ws/src/main/java/play/libs/ws/ahc/AhcWSRequest.java#L44

Because the goal of the standalone client is not to have a dependencies on Play, we'll have to copy it and ad

[2017-06-06 09:47] lenalebt opened #127 "Application does not terminate correctly"
I am using the standalone WS in a script-like program. Sadly, it does not terminate correctly, but hangs. The same happens on a colleagues computer, as well as on the build server, so I doubt it's a local problem for me. I also created a minimal example from the minimal scala seed with `sbt new sbt/scala-seed.g8`.

When terminating with `Ctrl-C`, it will terminate the actor system only after some

[2017-06-07 13:59] marcospereira commented on #127
Hey @lenalebt, thanks for the very detailed report.

Apparently, the problem is related to the `registerOnTermination` call. Removing it made everything work as expected, but I didn't have time to better investigate why this is having an impact here.

Anyway, the problem is not related to play-ws and I'm then closing this issue.

[2017-06-07 13:59] #127 closed

[2017-06-08 07:21] lenalebt commented on #127
Hey @marcospereira, thanks - that made it work. Although this is not a problem with WS directly, it means that your minimal example in the README is incorrect. I think you should either mention that problem, or remove the code from your example as well, at least until it is fixed elsewhere...

[2017-06-08 21:12] #108 closed

[2017-06-08 21:13] wsargent commented on #84
reference to https://github.com/playframework/play-ws/issues/126

[2017-06-08 21:28] wsargent commented on #68
This is not reliably implemented by anyone, it seems...

[2017-06-08 21:28] #68 closed

[2017-06-13 00:40] wsargent opened #132 "Make nullable getters use Optional<T> or Option[T]"
In many places, the Java WSRequest and WSResponse still use methods which return null:

[code]

And they should return `Optional<String>` etc where appropriate.

[2017-06-13 00:46] wsargent opened #133 "Make Cache return Future[T]"
The cache interface is synchronous:

[code]

Should be made to return Future[ResponseEntry] so that IO blocking / disk based cache system will work with it.

[2017-06-13 00:51] wsargent commented on #132
Addressed by https://github.com/playframework/play-ws/pull/129

[2017-06-13 18:47] marcospereira commented on #127
@lenalebt, you are right. Do you want to submit a pull request to update/fix the docs?

[2017-06-14 03:06] wsargent opened #134 "Provide API for adding cookies"
Currently, the WSRequest API has

[code]

This means that you can carry cookies through from a response to another request, but there is no way to instaniate a cookie, since AHCWSCookie is a private class and WSCookie is a pure trait with no implementation.  So add a case class implementation, and tests to ensure that this is available.  There should also be a clear cookie builder for Java and Sca

[2017-06-14 11:03] lenalebt commented on #127
Will do. I'll uncomment the code with a remark - this way others who know what the cause is have the chance to contribute. See https://github.com/playframework/play-ws/pull/135

[2017-06-14 22:59] #134 closed

[2017-06-15 14:52] grigoriy opened #137 "Persistent caching of HTTP responses fails due to presence of non-serializable classes"
### Play WS Version (2.5.x / etc)
1.0.0-M10

### API (Scala / Java / Neither / Both)
Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Arch Linux (4.10.11-1-ARCH)

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

### Library Depende

[2017-06-15 17:38] wsargent commented on #137
Play-WS does not assume that you want to use Java serialization as your persistence mechanism.  Persistence isn't handled through Play-WS -- that's abstracted out to the HTTP cache trait, which is responsible for serialization:

https://github.com/playframework/play-ws/blob/master/play-ahc-ws-standalone/src/main/scala/play/api/libs/ws/ahc/cache/Cache.scala

So the problem here is that the ehcache

[2017-06-15 18:15] grigoriy commented on #137
Thanks for the explanation. Could you consider it as a feature request or is it completely out of the scope of Play-WS? I am willing to participate in implementing this if needed. The use case is as follows: we want to use long-term on-disk HTTP cache, adhering to  RFC 5861, 7232 and 7234, which would allow our application to reuse it after the application restarts. Do you think it is feasible wit

[2017-06-15 18:39] wsargent commented on #137
Oh, it's totally feasible.  It's not something I can do myself at this point, but it's an option -- that being said, the assumption right now is that the cache is in-memory and synchronous.  You can see in the README there's an example of Caffeine being used:

https://github.com/playframework/play-ws#caching

One thing that would have to be added is that Cache would have to implement Future[T] so

[2017-06-15 18:42] wsargent commented on #137
It'd be best if you could do it as an sbt subproject with a dependency on the AHC implementation.  I didn't do any work to break out the cache implementation or API from AHC itself, so that's another possibility.

[2017-06-15 20:16] grigoriy commented on #137
Thanks for advice Will! I'll definitely consider the options you've mentioned. Closing. Cheers, Grigoriy.

[2017-06-15 20:16] #137 closed

[2017-06-15 23:20] wsargent opened #138 "Provide an OAuth 2 wrapper"
This should be pretty easy to do in WS based off https://tools.ietf.org/html/rfc6749:

https://github.com/wsargent/play-box-content-api/blob/master/app/controllers/ScalaApplication.scala

[2017-06-16 15:01] wsargent opened #139 "Add streaming XML support"
Should be very easy to add Stax support through a Source: https://docs.oracle.com/javase/tutorial/jaxp/stax/index.html using BodyWritables / BodyReadables

[2017-06-16 15:03] wsargent opened #140 "Add streaming JSON support"
Should be easy to provide a Source of JsonNode / JsValue using the BodyReadables / BodyWritables support.

[2017-06-16 18:53] wsargent opened #141 "Add BodyWritable / BodyReadable for form data"
The Java API does not have a body writable for `java.util.Map[String, Array[String]]` -- so you can't write the theoretically clear:

[code]

Likewise, you'd like to be able to read data back out:

[code]

[2017-06-17 00:15] wsargent commented on #79
Also see https://github.com/eed3si9n/gigahorse/blob/0.3.x/asynchttpclient/src/main/scala/gigahorse/support/asynchttpclient/WebSocketListener.scala

[2017-06-17 01:36] #133 closed

[2017-06-17 01:36] #141 closed

[2017-06-17 01:39] wsargent opened #144 "Fix AsyncCachingHandler"
The AsyncCachingHandler is not using the Cache Future and is blocking using Await.result internally.

https://github.com/playframework/play-ws/blob/master/play-ahc-ws-standalone/src/main/scala/play/api/libs/ws/ahc/cache/AsyncCachingHandler.scala#L153

This can be easily fixed by only calling onCompleted inside the future's completed block.

[2017-06-17 18:36] wsargent commented on #140
Also see https://github.com/jroper/play-iteratees-extras/blob/master/src/main/scala/play/extras/iteratees/Json.scala

[2017-06-21 23:14] wsargent commented on #140
Also http://doc.akka.io/docs/akka-http/10.0.4/scala/http/routing-dsl/source-streaming-support.html

[2017-06-22 17:54] wsargent commented on #87
workaround defined in https://github.com/playframework/playframework/issues/7056#issuecomment-285370901

https://gist.github.com/domdorn/3c80fac337ffc847650ae5f547f62c55

[2017-06-22 17:55] wsargent commented on #87
@domdorn do you have a PR for this?

[2017-06-22 18:34] domdorn commented on #87
@wsargent I tried to adjust the shading process, but the shading library used only allows simple byte-code changes (changing package names) -> I was unable to change the constant.
I once did something similar with cglib, but I'm not sure we want to go down that route.

[2017-06-22 19:12] domdorn commented on #87
Hmm... I've got an idea... what if instead of replacing the variables in the ahc.properties, we're just adding to them?
so instead of only writing
`play.shaded.ahc.org.asynchttpclient.threadPoolName=AsyncHttpClient`
to the file, we write
[code]
to the file? That way, we still be providing the default file, and also provide our own properties. People can still change their settings in the other con

[2017-06-22 20:07] wsargent commented on #87
Okay, I can address that in a patch release.

[2017-06-22 20:20] domdorn commented on #87
@wsargent I have a PR for this: https://github.com/playframework/play-ws/pull/149

[2017-06-23 15:57] maxcom opened #150 "json responses with 'application/json' and no charset are parsed in ISO-8859-1 charset"
JSON in HTTP are always encoded in UTF-8. Responses are parsed correctly when server writes content type header like `application/json; charset=utf-8`.

However, many servers (like Play framework itself) uses `application/json` without charset. In Play 2.6, that responses are parsed in ISO-8859-1 charset.

I think that problem is in `JsonBodyReadables` implementation. `Json.parse(response.body)` s

[2017-06-23 18:36] wsargent commented on #150
Good catch.

[2017-06-23 19:17] gmethvin commented on #150
Technically, JSON is not always UTF-8, but it is always Unicode, and `application/json` does not define a `charset` parameter. I would use `Json.parse(response.bodyAsBytes)` directly, since it will detect the encoding.

[2017-06-25 00:57] wsargent opened #153 "[2.5.3 Java] Not possible to set infinite WS request timeout with stream()"
Migrated from https://github.com/playframework/playframework/issues/6225

### Play Version (2.5.x / etc)

2.5.3
### API (Scala / Java / Neither / Both)

Java
### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Windows 8.1
### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

Oracle  JDK 1.8.0_92
### Library Dependencies

None
### Expected Behavior
1. Setting `setRequestTimeout(-1)`for a

[2017-06-25 00:59] wsargent opened #154 "[2.5.1] Request body not available in `WsSignatureCalculator`"
Moved from https://github.com/playframework/playframework/issues/5996

### Play Version (2.5.x / etc)

Play 2.5.1
### API (Scala / Java / Neither / Both)

Scala
### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Ubuntu 14.04
Arch Linux Kernel 4.4.5-1
### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

openjdk version "1.8.0_77"
OpenJDK Runtime Environment (build 1.8.0_77-b03)
OpenJDK

[2017-06-25 00:59] wsargent opened #155 "WS/OAuth calls signed with OAuthCalculator not being properly signed & therefore rejected"
Moved from https://github.com/playframework/playframework/issues/6251

### Play Version

2.5.3 (but also not working in 2.4.2)
### API

Scala
### Operating System

Windows 10 (also tested on MacOSX & CentOS Linux)
### JDK

Oracle 1.8.0_77
### Library Dependencies

N/A
### Expected Behavior

Please describe the expected behavior of the issue, starting from the first action.
1. We extended the code

[2017-06-25 01:00] wsargent opened #156 "WS response body charset does not conform to RFC 7321"
Moved from https://github.com/playframework/playframework/issues/5512

### Play Version (2.5.x / etc)

2.4.x - 2.5.x (fix in Future)
### API (Scala / Java / Neither / Both)

Both
### Expected Behavior

WS response should use the content encoding's charset where defined.
### Actual Behavior

Related to https://github.com/playframework/playframework/issues/4997

So there are two methods on the respo

[2017-06-25 01:01] wsargent opened #157 "[feature] Add proxyServer option to AhcWSRequest"
Moved to https://github.com/playframework/playframework/issues/5513

### Play Version (2.5.x / etc)

Future
### API (Scala / Java / Neither / Both)

Java
### Expected Behavior

Java WS API should include proxy server.
### Actual Behavior

No proxy server API for Java WS.  Should add it.

More details:

https://github.com/playframework/playframework/blob/master/framework/src/play-java-ws/src/main/j

[2017-06-26 01:26] wsargent commented on #125
Also see https://github.com/playframework/playframework/pull/7483

[2017-06-26 14:22] ignasi35 opened #158 "Can't override `Content-Type` once it's set"
When the body of a request is set the `Content-Type` header is derived from the actual payload.
Once set, the `Content-Type` can't be overriden.

See https://github.com/playframework/play-ws/commit/b7059c90a504335723c8e7c6621ffece2b792fa1#diff-4314f1bc7ecca562239ccbdaf002c36cR77

This is preventing advanced users from managing the serialization themselves, then provide (e.g.) a `ByteString` and fi

[2017-06-26 17:38] wsargent commented on #158
This is because `withBody` also sets the content type, and there were issues with content-type being set out of order.

[2017-06-26 17:45] wsargent commented on #158
So the original rationale was repeated content types:

* [Repeated content type headers in WS on POST](https://github.com/playframework/playframework/issues/4681)
* PR: https://github.com/playframework/playframework/pull/5477

And then there's been reworking of the logic when handling typed bodies with content types.

[2017-06-26 21:52] #125 closed

[2017-06-27 00:23] wsargent commented on #87
Closing by way of https://github.com/playframework/play-ws/pull/149

[2017-06-27 00:23] #87 closed

[2017-06-27 19:47] jsw commented on #150
I've run into the same issue, where `response.body` does not correctly handle an emoji character. I'm not using play json to map the response body (manual jackson with scala module). Is the appropriate approach to use `response.bodyAsBytes.toArray` to get the raw bytes, which I can pass to Jackson, and use `new String(response.bodyAsBytes.toArray)` to get something for a log statement? I'm guessin

[2017-06-29 17:34] wsargent opened #162 "Support resumable downloads with 'If-Range'"
For interrupted downloads, it'd be nice to be able to download from where the last request failed, using "If-Range".

[2017-06-29 17:35] wsargent opened #163 "Support resumable uploads with Content-Range"
It'd be nice to support resumable uploads with Range:

https://tools.ietf.org/html/rfc7233

[2017-07-04 12:25] Malax commented on #150
Is there an ETA on a release that includes this fix?

[2017-07-04 15:06] guofengzh opened #164 "WSRequest.post(Document) set incorrect encoding in the XML Prolog"
I use JAXB to marshal a Java Object to Document, then use WSRequest.post() to send the documet to a server. When marshaling, I set the encoding to EUC_KR:
       ...
        Document document = db.newDocument();
        marshaller.setProperty(Marshaller.JAXB_ENCODING, "EUC_KR");
        marshaller.marshal(obj, document);

The POST request is:
        ws.url(registerProductUrl)
           .addHeade

[2017-07-04 23:05] wsargent commented on #150
@Malax within the next couple of weeks -- however, do note that due to the way that the standalone client works, it's fairly easy to create your own custom body readables and writables as a workaround.

[2017-07-05 08:35] Malax commented on #150
@wsargent Thanks for the reply! 👍  If it's in the next couple of weeks, we will just delay the migration to 2.6 until then.

[2017-07-05 16:49] jsw commented on #150
@wsargent Can you comment on my workaround above for accessing the raw bytes when I don't want to use the play JSON parser?

[2017-07-05 18:45] wsargent commented on #150
@jsw You are broadly correct -- the best option is to use `Json.parse(response.bodyAsBytes.toArray)` which does UTF-8/UTF-16 encoding detection correctly.

[2017-07-05 19:34] wsargent commented on #164
That's not what you're calling though -- you're calling play.libs.XML:

[code]

https://github.com/guofengzh/play-xml-prolog-issue/blob/master/test/controllers/JaxbText.java#L10

[2017-07-05 19:37] wsargent commented on #164
There is a change between Play 2.5.x and Play 2.6.x in the XML.java, in that the document builder is slightly different:

https://github.com/playframework/playframework/blob/2.6.x/framework/src/play/src/main/java/play/libs/XML.java#L72

https://github.com/playframework/playframework/blob/2.5.x/framework/src/play/src/main/java/play/libs/XML.java#L68

as part of https://github.com/playframework/play

[2017-07-05 19:38] wsargent commented on #164
@guofengzh can you provide a reproducible use case showing

[code]

being used in a test?

[2017-07-05 19:45] wsargent commented on #164
In particular, the code for `toBytes`:

[code]

is the same in play-ws: https://github.com/playframework/play-ws/blob/master/play-ws-standalone-xml/src/main/java/play/libs/ws/XML.java#L92

and in 2.5.x: https://github.com/playframework/playframework/blob/2.5.x/framework/src/play/src/main/java/play/libs/XML.java#L93

and in 2.6.x: https://github.com/playframework/playframework/blob/2.6.x/framework/

[2017-07-06 01:52] wsargent opened #169 "response.getUri() is missing"
play.libs.ws.StandaloneWsResponse.getUri() is missing -- this is a useful method because it shows what the final URL was after several redirects in the browser.

[2017-07-06 02:56] guofengzh commented on #164
see postTest() in test/controller/JaxbText.java.

[2017-07-06 02:56] guofengzh commented on #164
see postTest() in test/controller/JaxbText.java.

[2017-07-06 06:22] avdv commented on #150
Would it be feasible to avoid the Array[Byte] -> ByteString -> Array[Byte] copying by using the "underlying" response?!

[2017-07-07 23:35] jsw commented on #150
Unless I'm doing things wrong, I think the issue still exists in play-ws 1.0.1.
[code]

Output
[code]

[2017-07-08 05:27] wsargent commented on #150
You should be calling

[code]

[2017-07-08 05:33] wsargent commented on #150
In theory yes, in practice array copying usually doesn't yield much in the way of performance improvements because the JVM is pretty effective at array copying:

https://psy-lob-saw.blogspot.com/2015/04/on-arraysfill-intrinsics-superword-and.html

If you're interested, you can poke at the JVM overhead with JMH:

https://psy-lob-saw.blogspot.com/p/jmh-related-posts.html

There's a sbt plugin at htt

[2017-07-08 18:43] jsw commented on #150
@wsargent My use cases are:
 * obtain a `String` or `Array[Byte]` to pass to Jackson mapper (I'm not using play-json)
 * obtain a `String` suitable for logging the response body

Given that, I'm not sure why I would want to do an extra parse via `Json.parse` and then convert that back to a `String`. Can you elaborate?

Also, can you explain why `r.body.toString` produces different output than `new

[2017-07-10 07:33] avdv commented on #150
@wsargent Thanks for that valuable information. :+1:

Json.parse detects the encoding of the data and decodes them appropriately.

`r.body` decodes the data using the iso-8859-1 encoding which is the default behaviour of the AsyncHttpClient, AFAIK.

`new String(...)` uses the default platform encoding to decode the data, which is probably UTF-8 on Linux, CP1250 on Windows, et cetera.

[2017-07-17 08:02] Mokrousov opened #171 "Problem with response"
After GET request I get:
[code]

But another REST client (POSTMAN) get:
[code]
And the last version is true.

We use next dependances:
[code]

So with this problem we can not parse response to XML

[2017-07-20 14:36] cchantep commented on #171
Cannot reproduce such issue:

[code]

It gives expected result:

[code]

[2017-07-24 07:21] retronym opened #173 "Invalid bytecode in shaded JAR reported under stricter checks in JDK9"
### Libraries, Version

shaded-async-client 1.0.1

### API

Neither

### JDK

Java(TM) SE Runtime Environment (build 9+178)

### Expected Behavior

JVM loads classfile

### Actual Behavior

[code]

[code]

[2017-07-24 09:23] huangd0ng opened #175 "getBodyAsSource in java api doesn't work"
### Play WS Version (2.5.x / etc)
2.6.1

### API (Scala / Java / Neither / Both)
Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
MacOS 10.12.5

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
Oracle 1.8.0_121

### Library Dependencies
play-ws-standalone 1.0.1
(a play framework 2.6.1 project created with activator)

### Expected Behavior
getBodyAsSource returns  Source<Byte

[2017-07-24 13:37] #173 closed

[2017-07-25 09:50] huangd0ng commented on #175
I found it works in this way:
[code]
I don't know if the exception is intentional

[2017-07-25 17:22] noisypants opened #177 "Wrong 'ahc-default.properties' resource file loaded when there's a non-shaded version of asynchttpclient in the class path."
### Are you looking for help?

### Play WS Version (2.5.x / etc)
2.6.2

### API (Scala / Java / Neither / Both)
Both

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Windows 10

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

java version "1.8.0_77"
Java(TM) SE Runtime Environment (build 1.8.0_77-b03)
Java HotSpot(TM) 64-Bit Server VM (build 25.77-b03, mixed mode)

### Library

[2017-07-25 17:31] marcospereira commented on #177
Hi @noisypants,

Is this a duplicate of #87?

[2017-07-25 17:35] noisypants commented on #177
It's got the same original behavior, however i'm not convinced the workaround solves the issue.  By adding the original keys to the shaded properties file, it works if the non-shaded library loads the shaded properties file.  But i have the shaded library loading the non-shaded properties.

Or am i not reading that correctly?

[2017-07-26 01:37] marcospereira opened #179 "Java request API does not set Content-Type when setting the body"
The Scala implementation of request sets the content type header when configuring the body for that request:

https://github.com/playframework/play-ws/blob/v1.0.2/play-ahc-ws-standalone/src/main/scala/play/api/libs/ws/ahc/StandaloneAhcWSRequest.scala#L145-L159

The Java version just sets the body:

https://github.com/playframework/play-ws/blob/v1.0.2/play-ahc-ws-standalone/src/main/java/play/libs/

[2017-07-26 17:44] marcospereira commented on #175
Hi @huangd0ng, it is not intentional. This should work just like the Scala version does.

Thanks for reporting this.

[2017-07-26 17:51] marcospereira commented on #175
@huangd0ng see #180.

[2017-07-27 18:53] #175 closed

[2017-07-28 10:24] maxcom opened #182 "NPE in response.body when content type lacks charset"
`response.body` fails with NPE when response type is `application/json`:

[code]

play-ws version 1.0.1

[2017-07-28 18:34] marcospereira commented on #182
Thank you, @maxcom.

See #183 for a fix.

[2017-07-28 19:05] #182 closed

[2017-07-28 20:06] marcospereira commented on #182
@maxcom could you please verify that version 1.0.4 solves this problem? You can add the following dependencies (temporarily) to test the new version:

[code]

[2017-07-28 20:06] marcospereira commented on #175
Hey @huangd0ng, could you please verify that version 1.0.4 solves this problem? You can add the following dependencies (temporarily) to test the new version:

[code]

Thanks!

[2017-07-31 04:34] huangd0ng commented on #175
@marcospereira it's working now. thanks

[2017-08-01 13:01] maxcom commented on #182
Thank you. Code looks good. I can't check the fix, compilation fails when I add that dependencies:

[code]

[2017-08-01 19:38] marcospereira commented on #182
Thanks for the feedback, @maxcom. Could you please share the code where compilation is failing and also your build.sbt file?

[2017-08-02 11:25] maxcom commented on #182
Look here: https://github.com/maxcom/play-compile-problem (this project is made only to show compile problem, it is not made to run)

[2017-08-02 14:39] marcospereira commented on #182
Hey @maxcom,

this is not related to the original issue reported here. To solve the compilation problem, you need an implicit `BodyWritable[JsValue]` available, so add the following import to your class:

[code]

This should solve the compilation problem. There is a number of `BodyWriteables` available by default. See the following scaladocs:

https://www.playframework.com/documentation/2.6.x/api/

[2017-08-02 15:56] maxcom commented on #182
Yes, I'm sure that it is not related to this bug.

It is strange that I need to add new import line when I add 1.0.4 to dependency list. It is simplified code. In actual project I had to add `import play.api.libs.ws.WSBodyWritables._` to large number of source files.

[2017-08-02 16:03] maxcom commented on #182
Original problem is fixed in 1.0.4.

[2017-08-12 19:42] djx314 commented on #122
@wsargent it's said that there no doc for the file name's charset. I send a file part with a chinese file name and get a file name with messy code in an ohter play server.

[2017-08-14 11:52] djx314 commented on #122
Just like httpclient's code
[code]
to avoid the utf-8 file name to post. But in play-ws I can just write
[code]
And the file name is wrong with messy code.

[2017-08-14 22:30] gmethvin commented on #150
The remaining problem being discussed here is basically that the `body: String` method is not smart enough to understand the rules of every content type, and I'm not sure if it should be. There are a few options here:
 - Restore the old behavior in which we read the charset parameter (regardless of whether the media type defines one) and default to UTF-8 for non `text` content types and ISO-8859-1

[2017-08-15 00:52] gnp opened #185 "play-ws and play-ws-standalone conflict on play.api.libs.ws{package$, package}"
### Are you looking for help?

A project depending on "com.typesafe.play" %% "play-ws" % "2.6.3" brings in transitively

[code]
which causes sbt-assembly to fail because play-ws and play-ws-standalone both define the aformentioned classes, with different contents in at least one case for the versions mentioned.

### Play WS Version (2.5.x / etc)

2.6.3 / 1.0.4 (standalone)

### Expected Behavior

[2017-08-22 15:33] raphaelbauer commented on #108
Just as a quick feedback. We converted our projects to Play 2.6 and the latest wsClient (lots and lots of code, lots and lots of mocks of wsClient stuff).

And all worked perfectly fine.

👍

[2017-08-24 10:48] balyszyn commented on #126
@wsargent, and when the library will be updated (with added support of multipart form data)

[2017-08-29 19:21] Eichhrn opened #187 "DefaultBodyReadables readableAsString doesn't retain UTF-8 Encoding"
Hello,

I currently utilize an AhcWSClient for testing our REST API. After switching from play-ws 2.5.4 to play-ahc-ws-standalone 1.0.4 I noticed that my WSResponses from the GET/POST calls didn't retain their UTF-8 encoding. I used JsonBodyWritables for the get/post calls and DefaultBodyReadables for the following call:

[code]

When comparing the resulting response.body[String] with my expected

[2017-08-30 17:35] djx314 commented on #187
+1
I use a wsclient to post the file to an other play application and the code is:
[code]

And if I use
[code]
the server will receive the file name with messy code.

@wsargent  Any fix?

[2017-09-02 14:56] marcospereira commented on #108
Thanks for the feedback, @raphaelbauer!

[2017-09-04 06:43] mriehl opened #191 "Suboptimal `withHttpHeaders` naming migration can lead to subtle bugs"
### Play WS Version (2.5.x / etc)

2.6.x

### API (Scala / Java / Neither / Both)

Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Linux 4.13.0-1

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

hotspot 1.8.0_144

### Expected Behavior

In 2.5.x `wsClient.withHeaders(String*)` could be used to add additional HTTP headers.
In 2.6.x at first glance, `wsClient.withHttpHead

[2017-09-04 14:07] marcospereira commented on #191
Hi @mriehl, thanks for the clear feedback.

I agree with you that we can better describe this change in our migration guide. The correct place to add it is:

https://github.com/playframework/playframework/blob/master/documentation/manual/releases/release26/migration26/WSMigration26.md

A pull request would be very welcomed. ;-)

[2017-09-08 17:56] #191 closed

[2017-09-13 04:31] gmethvin commented on #185
@gnp Does it work if you update play-ws-standalone to 1.1.0? We're planning to do that for Play 2.6.4.

[2017-09-19 01:35] tartakynov commented on #26
https://github.com/f100ded/play-fake-ws-standalone supports standalone play-ws

[2017-09-19 16:18] tartakynov commented on #150
The issue still exists in play-ws 1.1.1. Another possible solution would be to change the `body` type to ByteString :speak_no_evil:

[2017-09-20 03:58] gmethvin commented on #187
The root cause of the behavior you're seeing is actually in AsyncHttpClient, as we're delegating to its logic for obtaining a string representation of the body. The logic it uses is very simple: it checks for a `charset` parameter on the `Content-Type`; if that's not there, it defaults to `iso-8859-1`.

The larger problem here is that every MIME type can declare its own rules for encodings, and so

[2017-09-25 19:10] #187 closed

[2017-09-25 20:33] djx314 commented on #187
Great!

[2017-09-29 10:06] maximiliancsuk commented on #126
@wsargent I'm also very interested in this feature. Any update? :)

[2017-10-01 09:22] dmitraver commented on #179
hi, I can pick this one.

[2017-10-01 09:42] dmitraver commented on #169
hi, I can pick this one

[2017-10-01 09:45] dmitraver commented on #132
hi, is this one up for picking or is it already fixed by #129 ?

[2017-10-03 16:38] annebyrne commented on #177
I am seeing the same issue (see version details below) on the Guardian frontend repo with Play 2.6.3 and above.  [Here is the branch that exhibit the issue]( https://github.com/guardian/frontend/tree/add-timeline-description). Confirming the fix in https://github.com/playframework/play-ws/issues/87 has not resolved the problem as [mentioned](https://github.com/playframework/play-ws/issues/177#issu

[2017-10-03 19:05] dmitraver commented on #52
@marcospereira hi, can I pick this one?

[2017-10-03 22:36] marcospereira commented on #52
Hi, @dmitraver!

Yes, feel free to pick this one and thanks for that.

[2017-10-03 22:38] marcospereira commented on #132
Hey, @dmitraver,

it was already addressed by #129.

Best.

[2017-10-03 22:38] marcospereira commented on #179
@dmitraver, yes. And thanks for that. :-)

[2017-10-03 22:40] marcospereira commented on #126
Hi, @maximiliancsuk.

No updates yet, sorry about it. Do you have time to submit a PR here?

[2017-10-11 15:31] albuch commented on #169
The deletion of `getUri()` is a breaking change that was missed in the Play 2.6 migration guide as well.

[2017-10-29 17:41] AndrewZurn commented on #126
Hey all,

I am also wondering if there will be any traction on this anytime soon? Or is there a well documented work around in the mean-time perhaps?

Andrew

[2017-10-30 03:44] wsargent commented on #126
@AndrewZurn the workaround is to use play-ahc-ws (that is, the WS library with Play extensions).

[2017-11-22 13:03] an-tex commented on #42
It's still not possible to get the InputStream from the Scala API isn't it? It's missing in `play.api.libs.ws.DefaultBodyReadables`

[2017-11-22 13:22] an-tex commented on #177
Same issue on 2.6.7

[2017-11-23 22:42] domdorn commented on #177
The problem still persists. A solution is to copy the ahc.properties file from the jar file into the conf/ path of the application, thus making sure that the application finds this one in the classpath (the file from the jar already contains the correct keys for shaded/non-shaded versions).
We should add a note somewhere in the documentation about this.

[2017-12-04 21:17] richdougherty opened #199 "Upgrade to AsyncHttpClient 2.1.0"
AsyncHttpClient has just released the 2.1.0 RC. We should test this out and get any feedback back to the AHC devs.

https://twitter.com/AsyncHttpClient/status/936341654562398208

[2017-12-05 22:47] richdougherty commented on #199
Cc @slandelle, @wsargent.

[2017-12-05 23:28] jsw opened #200 "StandaloneAhcWSClient does not retry on read timeout"
### Play WS Version (2.5.x / etc)

`"com.typesafe.play" %% "play-ahc-ws-standalone" % "1.1.3"`

### API (Scala / Java / Neither / Both)

Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

MacOS Sierra 10.12.6

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (bui

[2017-12-06 08:11] slandelle commented on #200
Nah. `maxRetry` is used to retry on some socket crashes, such as starting to write before realizing the peer has already closed the socket on its side.
If you want to perform an applicative retry, you must implement it.

[2017-12-06 13:19] gbordyugov commented on #127
Can reproduce the bug, PR solves the problem fore me too.

[2017-12-06 18:23] jsw commented on #200
@slandelle Is there documentation that enumerates the exact set of conditions that retry applies to?

[2017-12-07 08:48] slandelle commented on #200
@jsw The intent is to cope with the fact that network is not instant and connection might be closed when trying to write. The typical use case is fetching a keep-alive connection from the pool while the peer has already closed on its side but we haven't received the FIN yet.
Regarding implementation, this is super complex and even I don't really understand it. I inherited this from the original pr

[2017-12-07 12:13] almothafar opened #201 "Weak key size warning while starting up play app with configured trustManager"
I'm setting trustManager with my custom store and the original java store, the problem happens even if I set it with only the original java store `{path: ${java.home}/lib/security/cacerts, password = "changeit"} # Default trust store` I'm getting a load of annoying warnings (even for `sbt test` which become more annoying), I'm not sure if this is a minor bug to fix, or I can get around this in my

[2017-12-07 12:14] almothafar commented on #201
Fixed for now with

`play.ws.ssl.disabledKeyAlgorithms = ["RSA keySize < 1024", "DSA keySize < 1024", "EC keySize < 224"]
`
Appreciate any comments or suggestions.

[2017-12-07 12:14] #201 closed

[2017-12-07 22:36] jsw commented on #200
@slandelle Thanks for the detailed explanation. I'm still trying to understand at a somewhat higher level the types of conditions that are retried. The initial response to [this post](https://groups.google.com/forum/#!topic/play-framework/0crA-vv0FGY) suggests that it's all `IOException`s, which include connect error, connect timeout, and read timeout, although read timeout is manifesting as a `Ti

[2017-12-08 09:12] slandelle commented on #199
Maybe this would help: https://abi-laboratory.pro/java/tracker/timeline/async-http-client/

[2017-12-08 09:16] slandelle commented on #200
I hope to be able to clean this up someday. Clearly, the intent is only retry on connection closed by peer while writing. Maybe add later a second distinct retry mechanism/parameter for general retry.

[2017-12-08 16:55] jsw commented on #200
Got it. For reference, could you link the relevant part of the code that determines whether to retry?

[2017-12-08 18:21] rpiaggio opened #202 "[feature] Allow setting read timeout of underlying async HTTP client Request"
Be able to set `wsRequest.withReadTimeout(duration)`, mainly to avoid read timeout exceptions in long-running stream requests.

### Play WS Version (2.5.x / etc)

2.6+

### API (Scala / Java / Neither / Both)

Both

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Use `uname -a` if on Linux.

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

Paste the output from `java -version`

[2017-12-13 11:31] hparkerfly opened #204 "Exception when adding new value to an existing header through StandaloneAhcWSRequest::addHeader()"
### Play Version (2.5.x / etc)
2.6.6

### API (Scala / Java / Neither / Both)
Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
Ubuntu 16.04 LTS
Linux 4.4.0-101-generic #124-Ubuntu SMP Fri Nov 10 18:29:59 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-

[2017-12-18 12:31] 2m opened #206 "Add sbt-header for managing copyright headers"
Currently top-of-the-file copyright headers need to manually managed. Consider adding [`sbt-header`](https://github.com/sbt/sbt-header) plugin to the build to automate it.

[2017-12-18 12:41] 2m opened #207 "MEGA ticket for Akka Http backend related tickets"
Work-in-progress branch and PR can be found here: https://github.com/playframework/play-ws/pull/205

List of topics that are currently missing:
* [ ] #213 configuration
* [ ] #214 proxy support when using HTTP https://github.com/akka/akka-http/issues/115
* [ ] #215 follow redirects https://github.com/akka/akka-http/issues/195
* [ ] #216 proper request timeout support. Now it is implemented using f

[2018-01-02 09:16] ktoso commented on #207
Can we split this out into separate tickets and tag with "akka-http-backend"?

[2018-01-02 11:13] 2m commented on #207
Sure. Do you have powers here to create the label?

[2018-01-02 11:14] ktoso commented on #207
Oh, perhaps not (neither do I), plz help @richdougherty @gmethvin ?

[2018-01-02 20:40] gmethvin commented on #207
just added you as collaborators

[2018-01-02 20:42] ktoso commented on #207
Thanks!

--
Cheers,
Konrad 'ktoso <http://kto.so>' Malawski
Akka <http://akka.io/> @ Lightbend <http://lightbend.com/>

On January 2, 2018 at 21:40:47, Greg Methvin (notifications@github.com)
wrote:

just added you as collaborators

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/playframework/play-ws/issues/207#issuecomment-35486

[2018-01-03 19:57] aksiksi opened #211 "OAuth remote request failure due to missing content length"
Hello!

The OAuth implementation/wrapper provided with Play WS fails when a request for a token is made (i.e., the first step in the OAuth handshake). The remote server (Evernote in this case) returns a content length missing error. Details below.

### Play WS Version

The version bundled with Play 2.6.10 (looks like 1.1.3 based on [this](https://github.com/playframework/playframework/blob/master/

[2018-01-04 11:20] 2m opened #213 "WSClientConfig support for akka-http backend"
Currently configuration for akka-http backend is read from the configuration files (default functionality of akka-http).

This ticket is for adding support for the `WSClientConfig`.

[2018-01-04 11:23] 2m opened #214 "Proxy support for akka-http backend"
Currently akka-http has proxy support for HTTPS. Expose this (and HTTP when https://github.com/akka/akka-http/issues/115 is ready) from the play-ws.

[2018-01-04 11:25] 2m opened #215 "Follow redirects support for akka-http backend"
Could be implemented in the backend or in akka-http https://github.com/akka/akka-http/issues/195

[2018-01-04 11:26] 2m opened #216 "Improve timeouts supports in the akka-http backend"
Currently implemented in the backend using Futures.

Might require https://github.com/akka/akka-http/issues/42

[2018-01-04 11:27] 2m opened #217 "Caching support for akka-http backend"

[2018-01-04 11:28] 2m opened #218 "Signature calculator support for akka-http backend"

[2018-01-04 11:28] 2m opened #219 "DIGEST authentication support in akka-http backend"

[2018-01-04 11:29] 2m opened #220 "NTLM authentication support in akka-http backend"

[2018-01-04 11:29] 2m opened #221 "SPNEGO authentication support for akka-http backend"

[2018-01-04 11:31] 2m opened #222 "KERBEROS authentication support for akka-http backend"

[2018-01-04 11:34] 2m commented on #207
Created a project board for the akka-http backend and created tickets for all of the points in the list.

[2018-01-04 11:34] #207 closed

[2018-01-10 08:59] patriknw commented on #207
Note that the above list is to get feature parity with existing WS, then more features can be added, such as support for http/2 and websockets.

[2018-01-10 09:21] gmethvin commented on #207
In terms of importance I'd say:
 1. configuration, so it's a drop-in replacement for an existing configured client. Initially you could throw exceptions for followRedirects and any unsupported options.
 1. follow redirects
 1. signature calculator support
 1. proxy support
 1. caching support (this is a newer feature)
 1. other forms of authentication (Basic is probably good enough for many cases)

[2018-01-10 15:49] cchantep opened #224 "Improve message for implicit resolution error"
Mention AHC instead of standalone common types:

https://github.com/playframework/play-ws/blob/8ced434d349aef0dec195005961b556545bd71d4/play-ws-standalone/src/main/scala/play/api/libs/ws/Body.scala#L45

[2018-01-11 08:45] TimMoore commented on #207
I know Lagom uses `WSClientConfig`. Other than that, I don't know if anything from this list is more important than the others.

[2018-01-16 21:38] patriknw commented on #207
@TimMoore You mentioned that Lagom is internally using a subset of the Play WS. Could you list which of the features from the above list that is used in Lagom, and we could perhaps start with those.

[2018-01-18 12:49] RichardSmithONS commented on #202
Can this be overriden in config? My stream was failing with a "502  Bad Gateway" after 85 seconds, but the setting _play.server.http.idleTimeout = 900 seconds_ in application.conf fixed that, only for it to subsequently fail with "Read timeout after 120000 ms" at 2 minutes.

[2018-01-20 18:37] #224 closed

[2018-01-22 15:17] 2m commented on #207
For the next three days I am going to be working on features from this list. I will start with `WSConfig`.

[2018-01-26 09:07] martin-g opened #229 "ahc-default.properties loaded from the wrong location"
### Are you looking for help?

No.

### Play WS Version (2.5.x / etc)

2.6.11

### API (Scala / Java / Neither / Both)

Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

Linux me 4.11.8-041108-generic #201706290836 SMP Thu Jun 29 12:38:45 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

openjdk version "1.8.0_151"
OpenJDK Runtime En

[2018-01-26 09:17] martin-g commented on #229
Unfortunately using this.getClass().getClassLoader() doesn't help. It still loads the resource without the `play.shaded` prefix.

[2018-01-26 19:56] wsargent opened #231 "play.libs.ws.StandaloneWSRequest lacks getMethod"
The Scala version has it:

https://github.com/playframework/play-ws/blob/master/play-ws-standalone/src/main/scala/play/api/libs/ws/StandaloneWSRequest.scala#L43

but there is no Java version, only a `setMethod`:

https://github.com/playframework/play-ws/blob/master/play-ws-standalone/src/main/java/play/libs/ws/StandaloneWSRequest.java#L144

[2018-01-26 21:21] AlejandroRivera opened #232 "Java's play.libs.ws.StandaloneWSRequest lacks getCookie"
Similar to #231, there's no way to inspect the already defined Cookies in the request within a Filter.

I've not verified if there's such method in the Scala API though.

[2018-01-26 21:25] AlejandroRivera commented on #231
There's a PR that already introduces this missing method: #178
More specifically: https://github.com/playframework/play-ws/pull/178/files#diff-81cde33a396d318cacb479ddba9015e9

However, IMHO, introducing the missing methods should not be blocked by this PR which has been open since July 2017.

[2018-01-30 19:44] marcospereira opened #234 "Java APIs are not handling headers in a case insensitive way"
### API

Java

### Expected Behavior

When adding headers like:

[code]
Both `"a"` and `"b"` must be returned when calling `getHeaderValues("key")`

### Actual Behavior

Only `"b"` is present when calling `getHeaderValues("key")`.

[2018-01-31 12:02] qbrent commented on #202
Any known workarounds or updates here?

[2018-02-01 10:23] RichardSmithONS commented on #202
play.ws.timeout.request=900s
play.ws.timeout.idle=900s
play.ws.timeout.connection=900s

in the application.conf allowed my long requests to work - previously I was getting a numberformat exception when setting these values, not knowing that in Play 2.6 you have to include the time units (e.g. s or ms)

[2018-02-02 05:38] TimMoore commented on #207
Sorry for my unresponsiveness. I had to do a bit of investigation into how Lagom uses WS since I haven't really touched that part, and it got shelved until after 1.4.0 was released.

The way Lagom uses WS is really simple. It doesn't seem to override any default configuration.

The way it uses `WSClientConfig` is only to pass through a configuration that is explicitly loaded using Play's default c

[2018-02-16 17:48] fommil commented on #150
somewhat related... how can we make the server include the charset instead of trying to be too smart for its own good?

[2018-02-19 15:46] hbuerger opened #235 "Scala example doesn't terminate"
### Are you looking for help?

The current Play-WS standalone Scala example doesn't terminate.

sbt new scala/scala-seed.g8

### Play WS Version (2.5.x / etc)

    libraryDependencies += "com.typesafe.play" %% "play-ahc-ws-standalone" % "1.1.3",
    libraryDependencies += "com.typesafe.play" %% "play-ws-standalone-json" % "1.1.3",

I used the following to create the project:

sbt new scala/scala-s

[2018-02-20 11:44] richdougherty commented on #150
See possible fix on the Play server side: https://github.com/playframework/playframework/issues/8239

[2018-02-28 21:10] marcospereira opened #240 "Fix release when using sbt 1"
play-ws release is not working when using sbt 1. It is trying to publish shaded versions twice to Sonatype, which then results in an error.

The following pull requests were made to try to fix the release process, but without success so far: #236, #237, #238.

The problem may be related to https://github.com/sbt/sbt-release/issues/219. A possible workaround is documented here: https://github.com/s

[2018-03-09 18:01] #240 closed

[2018-03-20 20:17] richdougherty commented on #48
Reopening because we only have a partial fix in #239.

[2018-03-22 00:09] JustinPihony opened #249 "Cache expiration is not respected"
Caching expiration should follow [RFC 7234](https://tools.ietf.org/html/rfc7234), however [it is currently hardcoded to be 24 hours](https://github.com/playframework/play-ws/blob/master/play-ahc-ws-standalone/src/main/scala/play/api/libs/ws/ahc/cache/AhcHttpCache.scala#L264).

### Expected Behavior

1. Set the header `Cache-Control: max-age=#`
2. Cache expiration should use the # provided to calcu

[2018-03-22 05:04] wsargent commented on #249
The amount of time that a cache entry lives in the cache is hardcoded to 24 hours internally... after that, it's removed from the server cache.  But that's not the same as serving it to the client.

I have a test project https://github.com/wsargent/play-ws-using-http-cache-example which is set to go to a cache that has a max-age of 30 seconds when you go to localhost:9000.

Here's the initial resp

[2018-03-22 16:11] wsargent commented on #249
The really odd thing here is that it looks like you're hitting a Play server with curl, rather than using WSClient to hit an origin server.

In a cached response, you should see "Age" as a header;

[code]

That doesn't seem to be happening here:

[code]

Are you sure you're not hitting the URL directly?

[2018-03-23 01:52] JustinPihony commented on #249
Closing as Will is correct and my thinking on this was backwards. Thanks for setting me straight!

[2018-03-23 01:52] #249 closed

[2018-03-23 18:50] #231 closed

[2018-03-23 19:00] #169 closed

[2018-04-04 13:53] margussipria commented on #229
We had this problem another way around... have also Dispatch in our project, can't update it to newest (using AHC 2.1.x+ (now 2.4.4)). That library didn't find new properties required by AHC.

Fun didn't stop there, we reverted to dispatch 0.13.x with AHC 2.0.39 just to find out Play Framework does not work with Netty Server. AHC 2.0.39 used Netty 4.0.x and Play Server requires 4.1.x (4.1.22 for n

[2018-04-05 13:56] wsargent commented on #229
It's for when projects have conflicting versions of Netty.

If you have conflicting version of AHC, then that's a different problem, and one that's very hard to resolve without patching AHC code itself.

[2018-04-06 04:14] richdougherty opened #250 "Richer types for generated code"
In order to consume the generated code downstream, it would be easier if the code had predictable types. This would make it easier for us to load code via reflection and then cast it.

Examples: https://gist.github.com/richdougherty/0a4d2124bff7a1a9db1676e5b4d92a05

[2018-04-06 04:39] richdougherty commented on #250
Umm yes, I was just trying to find this over in akka-grpc!

[2018-04-06 04:39] #250 closed

[2018-04-16 16:28] fatihi-sky commented on #199
I upgraded AsyncHttpClient to 2.4.4 to be able to benefit from ClientDetails object they exposed to get connection metrics.
There are some major changes tho, I wanted to start a discussion here(https://groups.google.com/forum/#!forum/play-framework-dev) to get feedback for couple of points, but seems like no one is looking for membership approvals for that group for a while.
Any suggestions how to

[2018-04-17 16:43] wsargent commented on #199
@fatihi-sky we are using http://discuss.playframework.com now, so I would start up a topic there.

[2018-06-06 20:50] fehmicansaglam commented on #26
@wsargent play-fake-ws-standalone works really well. Does it make sense to include it in play-ws distribution?

[2018-06-06 23:08] wsargent commented on #26
@fehmicansaglam that is entirely up to @f100ded

[2018-06-07 00:40] tartakynov commented on #26
@fehmicansaglam @wsargent I'd love to include it into play distribution, if Play's team agrees

[2018-06-07 17:11] wsargent commented on #26
Okay!  Brought it up for discussion at https://discuss.lightbend.com/t/adding-mock-to-play-ws-standalone/1227 -- the advantage is it would be visible in the documentation, downside is that it would have to be published on the same cycle as Play WS standalone itself (i.e. no step releases).

[2018-06-11 22:21] mbseid opened #257 "OAuth 1 Signature Fails with Empty Map Body,"
We recently upgraded from Play Framework 2.5 to 2.6 and noticed an odd error with the OAuth 1 signature. When posting a request with an empty body, `Map.empty[String, Seq[String]]`, the twitter requests fails with the following response: `Could not authenticate you.`.  If the body was not empty, or using the `EmptyBody` object, things work as expected.

### Are you looking for help?
No

### Play W

[2018-06-12 07:47] gmethvin commented on #257
#258 should fix it. For an empty map we're appending a single POST param with empty key/value pair when we should be appending nothing.

[2018-06-14 03:28] #257 closed

[2018-06-20 08:51] david-nossebro commented on #169
Why was this issue closed? I still see the same issue and have not found any solution.

[2018-06-25 16:42] wsargent commented on #25
Closing.

[2018-06-25 16:42] #25 closed

[2018-07-09 10:55] gmethvin opened #264 "WSRequest should have a withUrl"
While implementing a request filter, I realized it would be very useful to be able to modify the `url` of an existing request. It seems like the URI is the only thing you can't modify in the `StandaloneWSRequest` API, and that seems somewhat arbitrary. I can cast to a `StandaloneAhcWSRequest` and use the `copy` method and it works fine, but would rather not have to cast.

[2018-07-17 02:58] marcospereira commented on #108
Hi @jhz7,

Our [forums](https://discuss.playframework.com) would be a better place to discuss this. It would be good if you can share some code there too, and the JSON Play WS is getting. Is it valid? What [JSONLint](https://jsonlint.com/) says about it?

Best.

[2018-07-25 11:22] edubrovski opened #265 "POST requests are cached by default"
### cache-control version

1.1.3

### Expected Behavior

According to section 4.3.3 of RFC 7231 POST requests should not be cached unless they contain relevant headers:

It seems reasonable because POST requests are not idempotent.

### Actual Behavior

POST requests are cached when response doesn't contain any caching headers.

[2018-07-25 16:32] wsargent commented on #265
Okay, I need to do some cleanup here.

[2018-07-25 21:27] tenstriker opened #266 "Can not find easier way to ignore SSL certificate"
I am trying to use Stand alone Ahc http client as my application is not a web app.

Play 2.6.7 and scala APIs.

What is the way to accept any ssl certificate?

It's very confusing with 3 different versions of ahc-http libraries. AsyncHttpClient, Standalone version and Shaded version.

I tried seemengly simpler approach but I got compile error as shaded and regular client doesn't seem to compatible

[2018-07-25 23:00] wsargent commented on #266
Please ask questions on https://discuss.playframework.com.

Generally you should put your settings in an `application.conf` file in the resources directory, i.e. `src/main/resources/application.conf` if you're in a Maven style project.

[2018-07-26 11:53] dubrovskieddie commented on #265
Here's an example demonstrating strange behavior.

1. Suppose we have a server returning 200 OK without any cache-related headers on POST requests:
https://gist.github.com/dubrovskieddie/56d27bac0f5f51831110ca2ead0757a6

2. In Play we can enable logging of caching by adding this line to logback.xml:
`<logger name="play.api.libs.ws.ahc.cache" level="TRACE" />`

3. Now we make a request with WSClien

[2018-07-26 14:51] wsargent commented on #266
Closing, as this is not a bug.

[2018-07-26 14:51] #266 closed, assigned to nobody

[2018-07-31 04:16] htmldoug opened #267 "StandaloneWSClient.url(String) permits inconsistent states with query params"
### Summary
Behavior of query parameters in `wsClient.url(String)` is not well defined and permits inconsistent states. For example, `wsClient.url("http://postman-echo.com/get?pipe=|").execute()` successfully sends the request as `http://postman-echo.com/get?pipe=%7C"`, but `wsRequest.queryString` returns an empty map, and `wsRequest.uri` throws a `URISyntaxException`.

This makes methods `uri` an

[2018-08-15 18:28] htmldoug commented on #267
@gmethvin & @marcospereira, I could use your guidance here. Would be nice to nail this down before v2.

[2018-08-23 10:04] dwijnand opened #274 "Cross-build to Scala 2.13.0-M4"

[2018-08-25 14:28] halfhp opened #276 "StandaloneAhcWSRequest.createProxy should setUsePreemptiveAuth(true) for basic auth"
### Play WS Version
1.1.10

### API (Scala / Java / Neither / Both)
Scala

### Expected Behavior

Requests that specify a Proxy with basic auth should setUsePreemptiveAuth(true) for the proxy realm.

### Actual Behavior

Requests that specify a Proxy with basic auth never setUsePreemptiveAuth(true) for the proxy realm, causing the connection to fail.

### Details / Steps to Reproduce

While unsucc

[2018-09-05 21:48] #264 closed

[2018-09-06 22:50] marcospereira commented on #267
Hi @htmldoug,

Thanks for the detailed and well-thought issue.

Right now, I think the tolerant approach is the recommended one. There are some other expectations that we can do around the API:

1. We can elaborate that `queryString` is actually used to define additional query strings, besides the ones already present at the url. Changing the name to something like `additionalQueryString` can make

[2018-09-07 00:00] htmldoug commented on #267
Thanks for the direction. I'd be interested in submitting a PR for the tolerant route, having written one already around my existing use of the play25 WSClient. Implementation is here: https://gist.github.com/htmldoug/38cfa714b33123c6695ec272cfcae6c1 Before proceeding, I'd like for you to witness how gnarly it is and confirm that you really want it. Feel free to mark it up with comments for any ch

[2018-10-05 20:21] acchaulk commented on #265
was https://github.com/playframework/cachecontrol/pull/30 pulled into backported into cachecontrol 1.1.x? If not, I'd like to release a new version and pull it into the latest version of play-ws

[2018-10-16 13:48] #265 closed

[2018-10-26 13:42] joschi opened #287 "Unable to send requests with literal '+' character in URI query part"
I want to send a request to a remote HTTP service which has some strict encoding rules.

For example, HTTP requests to `http://example.com/path?query+string` are working, but requests to `http://example.com/path?query%2Bstring` are not working.

Unfortunately, Play WS always encodes the URL as `http://example.com/path?query%2Bstring` without the option to skip unnecessary encoding or to provide a

[2018-10-30 02:08] bpossolo commented on #287
you're using the api incorrectly.
the url that you pass to `WSClient.url()` should only contain the path.
if you want to attach query params then you do that after like so:

[code]
the addQueryParameter method will url encode the value
and the resultant url will be:
[code]

your server should be able to parse this just fine because, within a query string, `+` and `%20` are semantically the same (t

[2018-10-30 08:18] joschi commented on #287
@bpossolo Thank you very much for your reply!

If this was the case, the documentation for that method has to be updated.
It currently says in [`WSClient#url(String)`](https://www.playframework.com/documentation/2.6.20/api/java/play/libs/ws/WSClient.html#url-java.lang.String-):

And by "URL", I would expect it to accept a URL according to [RFC 1738, section 3.3](https://tools.ietf.org/html/rfc1738

[2018-10-30 08:31] joschi commented on #287
@bpossolo Thanks again for your swift reply!

Thanks, I think I understand it perfectly well. 😉

Correct. And my problem is that I want (or rather have) to use a literal '+' character in the HTTP request because the remote service otherwise cannot process the request.

Correct. That's why I've asked how to provide raw or pre-encoded values.

Welcome to the Internet. This being said, a URL with lit

[2018-11-21 21:49] SethTisue commented on #274
how much of Akka do you need? is just actors enough, or you need more?

[2018-11-21 22:01] marcospereira commented on #274
@SethTisue we need `akka-streams` (and its transitive dependencies) and also Akka HTTP (only used for tests here):

https://github.com/playframework/play-ws/blob/1240b5b30728ed8241d20cb2b816bc85528e36d2/project/Dependencies.scala#L48-L50

[2018-11-24 17:52] joschi commented on #287
The same issue still exists on Play WS 2.0.0-RC1.

I've created a repository with reproducible test cases for Play WS 1.1.12 and 2.0.0-RC1 at https://github.com/joschi/play-ws-issue-287.

[2018-11-25 21:19] joschi commented on #287
I've added a successful test case using [`HttpURLConnection`](https://docs.oracle.com/javase/8/docs/api/java/net/HttpURLConnection.html).

[2018-11-26 13:12] wsargent commented on #199
Fixed by https://github.com/playframework/play-ws/pull/289

[2018-11-26 13:12] #199 closed

[2018-11-26 13:15] wsargent opened #291 "NoDepsLogger ignores logger name"
### Play WS Version (2.5.x / etc)

1.1.11

### API (Scala / Java / Neither / Both)

Both

### Expected Behavior

NoDepsLogger should render a logger with the given name.

### Actual Behavior

NoDepsLogger ignores logger and uses the name of the declared class instead of the passed in name.

[2018-11-26 17:04] #291 closed

[2018-12-17 03:43] wsargent commented on #267
On the meaning of URL -- URL parsing has been a mixed bag overall.  [RFC 1738](https://tools.ietf.org/html/rfc1738) is effectively obsoleted by [RFC 3986](https://tools.ietf.org/html/rfc3986) and [RFC 7320](https://tools.ietf.org/html/rfc7320) and so using URI would be more accurate.

There are a couple of posts that talk about parsing URIs in general:

* http://blog.palominolabs.com/2013/10/03/cr

[2018-12-17 03:55] wsargent commented on #267
There are a couple of posts that talk about parsing URIs:

* http://blog.palominolabs.com/2013/10/03/creating-urls-correctly-and-safely/index.html
* https://www.talisman.org/~erlkonig/misc/lunatech%5ewhat-every-webdev-must-know-about-url-encoding/

There are external libraries that will augment the functionality of WS: [galimatias](http://galimatias.mola.io/) validates URLs, and [scala-url-builder

[2019-01-09 10:37] raboof commented on #274
We have published an experimental 2.13.0-M5 artifact of Akka 2.5.19 to Maven Central

[2019-01-09 15:09] SethTisue commented on #274
akka-http (10.1.7) is available too

[2019-01-22 08:00] gmethvin commented on #229
A workaround for now is to create `ahc.properties` on your classpath and include all the properties in `ahc-default.properties` of Play's and any other shaded AHC versions. That way AHC will look at your `ahc.properties` to get the values and not whichever `ahc-default.properties` it finds first.

[2019-01-22 09:57] joschi commented on #287
I've updated the repository to demonstrate the issue with Play WS 2.0.0.

[2019-01-22 20:46] bpossolo commented on #287
`StandaloneAhcWSRequest` uses `play.shaded.ahc.org.asynchttpclient.RequestBuilder` to construct the final url that's requested:
https://github.com/playframework/play-ws/blob/master/play-ahc-ws-standalone/src/main/java/play/libs/ws/ahc/StandaloneAhcWSRequest.java#L412

`RequestBuilder` has multiple constructors which alter the encoding behaviour for the final uri.
So you'll need to modify the Stand

[2019-01-23 15:12] marcospereira commented on #274
play-ws 2.0.1 is now published with Scala 2.13.0-M5 support. :-)

[2019-01-31 03:03] SethTisue commented on #274
scala/make-release-notes@708d3250d3acf7a320e87f448e1e00af6ac367b9

[2019-03-07 00:35] mellster2012 opened #309 "WSRequest transparency and signing broken"
Play WS Version: 2.7
API : Scala
Operating System: Any
JDK: Any

Expected Behavior

play-ws should not alter outgoing WSRequests or at the minimum provide a function where you can override/replace all existing http headers - currently content-type is not replaceable.

Actual Behavior

play-ws shades the latest version of asynchttpclient which alters the content-type header of a complete request be

[2019-03-26 08:16] henricook opened #311 "Use a ProxySelector with AsyncHttpClient"
### Actual Behavior

WS uses `setUseProxyProperties` on AsyncHttpClient - this doesn't appear to take account of wildcards in the java `http.nonProxyHosts` setting - [historical reference](https://github.com/AsyncHttpClient/async-http-client/issues/360)

### Reproducible Test Case

Set a `*.yourdomain.com` `http.nonProxyHosts` parameter and an `http.proxyHost` and `http.proxyPort` - observe that w

[2019-03-26 08:56] #311 closed

[2019-03-26 08:57] henricook commented on #311
Closed, it would appear wildcard support was added and the issue i'm seeing is something else

[2019-04-01 19:47] cchantep opened #316 "Versioning"
Why master is 2.0.1-SNAPSHOT while 2.0.2 has been release on 2.0.x ?

[2019-04-02 11:54] renatocaval commented on #316
That's clearly a mistake. Master should be 2.1.x-SNAPSHOT

[2019-04-04 08:48] cchantep commented on #316
Thx @renatocaval

[2019-04-04 08:48] #316 closed

[2019-04-05 12:49] Ekzer opened #328 "XML Read : the actual implementation doesn't support any charset superior to utf-8"
### Are you looking for help?

This is an issue tracker, used to manage and track the development of Play WS. It is not a support system and so it is not a place to ask questions or get help. If you're not sure if you have found a bug, the best place to start is with either the [users forum](http://discuss.playframework.com/) or [Stack Overflow](http://stackoverflow.com/questions/ask?tags=playfram

[2019-04-08 13:46] marcospereira commented on #206
Fixed by #298.

[2019-04-08 13:46] #206 closed

[2019-04-08 13:48] marcospereira opened #330 "Publish for Scala 2.13.0-RC1"
Depends on:

- [x] https://github.com/playframework/play-json/pull/254
- [x] https://github.com/lightbend/ssl-config/pull/161
- [ ] https://github.com/akka/akka/issues/26691

[2019-04-18 15:08] loicknuchel commented on #126
It seems it's still not the case now (using `2.0.3` version), any plan to work on this ?

[2019-04-22 08:17] kingsant opened #333 "play2.7,HTTP header is larger than 8192 bytes"
I update play 2.6 to 2.7. it happen to occure this exception。
play.server.akka.max-header-value-length = 32k can not solve this problem.
so how can i change the max value?

[code]

[2019-04-24 18:15] biwugang opened #334 "WS response interceptor does not support URI special characters(%2F)?"
I looks like that the WS response interceptor does not support URI special characters

the issue step is as following
## 1. client send WS request
## 2. service response: 307 Temporary Redirect
   the redirest location is:
   https://docker-images-prod.s3.amazonaws.com/registry-v2/docker/registry/v2/blobs/sha256/ca/ca4f61b1923c10e9eb81228bd46bee1dfba02b9c7dac1844527a734752688ede/data?X-Amz-Algorit

[2019-04-24 18:18] hparkerfly opened #335 "Exception when adding new value to an existing header through StandaloneAhcWSRequest::addHeader"
### Play Version
2.6.6

### API
Java

### Operating System
Ubuntu 16.04 LTS
Linux 4.4.0-101-generic #124-Ubuntu SMP Fri Nov 10 18:29:59 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

### JDK
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-0ubuntu0.16.04.2-b12)
OpenJDK 64-Bit Server VM (build 25.151-b12, mixed mode)

### Library Dependencies
javaWs

### Expected Behavio

[2019-05-07 11:17] kingsant commented on #333
i resolve this problem now. add java option `-Dplay.shaded.ahc.org.asynchttpclient.httpClientCodecMaxHeaderSize=16000`

[2019-05-07 11:17] #333 closed

[2019-05-12 02:21] patpatpat123 opened #341 "Play-ws is blocking while consuming a Reactive WebFlux SpringBoot app"
### Are you looking for help?
Yes
### Play WS Version (2.4.3)
### API (Java)
### Operating System (MacOS 10.13)
### JDK (Oracle 1.8.0_144-b01)
### Library Dependencies
?

### Expected Behavior
Able to consume the reactive Web service, in a non blocking way, (IE, in this example, to see the stream)

Please describe the expected behavior of the issue, starting from the first action.
As of now, it is

[2019-05-12 04:53] patpatpat123 commented on #341
To provide some more info, a micro service C can successfully consume micro service A using Spring WebClient. still in the non blocking and reactive way. (Able to get each of the customers per interval.)

However, WSRequest request = ws.url("localhost:8080/customers”); request.get(); Either with Promise<Result> or CompletionStage<Result> blocks until all the customers are retrieved.

[2019-05-13 09:20] ignasi35 commented on #341
You should `getBodyAsSource` to read data as it's available:

[code]

I will close this issue since it's not a bug.

[2019-05-13 09:20] #341 closed

[2019-05-14 11:31] dwijnand opened #344 "Forward-port "Handle stream completion (propagate failures)""
1.1 PR: https://github.com/playframework/play-ws/pull/340
2.0 PR: https://github.com/playframework/play-ws/pull/343
`master` PR: #345

[2019-05-14 11:39] patpatpat123 commented on #341
Hello ignasi35, why such a quick close on something that might be an issue?
Using your example, it is still not reactive at all.
Your first statement is CompletionStage<WSResponse> wsResponseCompletionStage = ws.url("http://someurl.com").get();
Can you elaborate why are you using a get()? A stream() might be more appropriate?

In your second statement, how do you make go from CompletionStage<? ext

[2019-05-14 14:38] ignasi35 commented on #341
Hi @patpatpat123, if you want to get a better understanding of how to reactively consume a stream I think we can move the discussion to https://discuss.lightbend.com/c/play.

If you think there is a bug, it'd be great if you can share some code reproducing the error. I noticed you mentioned "Play WS (2.4.3)" but [that version doesn't exist](https://github.com/playframework/play-ws/releases) so I'm

[2019-05-15 08:24] renatocaval commented on #344
All merged in 1.1, 2.0 and master.

Closing...

[2019-05-15 08:24] #344 closed

[2019-05-16 14:08] KafkaProServerless opened #347 "[Enhancement] README.md - Compatibility matrix between play-ws and play framework"
### Are you looking for help?

Yes, for a compatibility matrix between play framework version and this cool project

### Play WS Version (2.5.x / etc)

2.4

### API (Scala / Java / Neither / Both)

Java

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

MacOS 10.1

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

Oracle 1.8.0_72

### Library Dependencies

Play 2.4

### Expected B

[2019-05-16 15:20] marcospereira commented on #347
Hey @KafkaProServerless,

Play 2.6 is the when we move play-ws to a standalone repository here. You can see exactly which version Play 2.6.x (or 2.7.x) are using by looking at the `Dependencies.scala` file there:

https://github.com/playframework/playframework/blob/2.6.23/project/Dependencies.scala#L269

Before that, for Play 2.5-, play-ws must follow the version of Play you are using.

In both ca

[2019-05-16 15:20] #347 closed

[2019-05-23 18:57] marcospereira commented on #330
Closed by #350.

[2019-05-23 18:57] #330 closed

[2019-05-23 22:26] ranjithv commented on #333
@kingsant: I'm having this issue in play 2.6.21 and adding java option is also not helping. Any other way to resolve this?

[2019-06-19 12:46] ignasi35 opened #361 "Migrate to scalafmt"
Replace scalariform

[2019-07-05 08:57] Ekzer commented on #328
Merged. Thanks.

[2019-07-05 08:57] #328 closed

[2019-07-10 17:07] htmldoug opened #371 "play-ahc-ws-standalone_2.13:2.0.6 has invalid dependency on scala-java8-compat_2.13:0.8.0"
https://search.maven.org/artifact/com.typesafe.play/play-ahc-ws-standalone_2.13/2.0.6/jar depends on a jar that does not exist.
[code]

## Background Context

Depending on `com.typesafe.play:play-ahc-ws-standalone_2.13:2.0.6` as `Optional` yields:

[code]

https://search.maven.org/search?q=a:scala-java8-compat_2.13 is published starting with 0.9.0.

[2019-07-11 16:06] renatocaval commented on #371
@htmldoug, I don't know how this got in there. It's not clear how we were able to release it like it is.

We discovered that this is only poping-up when running the MiMa checks for 2.13, which were not run for 2.0.6 because that's the first with binaries for 2.13.

The workaround is to add 0.9.0 to your classpath for the moment to 0.8.0 gets evicted.

We have a PR that bumps it and fix the MiMa ch

[2019-07-11 16:07] renatocaval commented on #371
Closing because #373 will fix it.

[2019-07-11 16:07] #371 closed

[2019-08-04 17:07] YourPsychiatrist opened #382 "Add the full name for the abbreviation WS to the documentation"
I feel pretty stupid but I don't know whether WS stands for WebService or for WebSocket or something completely different. Seems like a no-brainer to me to explain the name in the documentation but I can't seem to find it. Would you mind adding it or just commenting it on the issue and then closing it?

[2019-08-06 17:40] marcospereira commented on #382
WebService. :-)

If you want to add this to the docs, here is where it should be done:

- https://github.com/playframework/playframework/blob/master/documentation/manual/working/javaGuide/main/ws/JavaWS.md
- https://github.com/playframework/playframework/blob/master/documentation/manual/working/scalaGuide/main/ws/ScalaWS.md

Possibly a good idea to add some information for javadocs and scaladocs a

[2019-08-07 14:47] YourPsychiatrist commented on #382
@marcospereira You are a national treasure ;) I'll just add the full name to the *WS.md files!

[2019-08-07 15:01] YourPsychiatrist commented on #382
I just saw that that you are referring to the playframework repo but I am uncertain whether I should just commit my additional two words to the main branch of the whole play framework. :/

[2019-08-07 15:13] marcospereira commented on #382
Hey @YourPsychiatrist,

You can [create a fork](https://help.github.com/en/articles/fork-a-repo) of the playframework/playframework repo and then [submit a pull request](https://help.github.com/en/articles/creating-a-pull-request-from-a-fork). This will be the best way since you are changing multiple files.

Best.

[2019-08-07 15:18] YourPsychiatrist commented on #382
I figured I would have to do it that way but I wasn't sure whether there are any strict rules I have to abide by. Anyway, I'll just create a pull request referencing this issue; I hope that'll do :)

[2019-08-28 13:11] renatocaval commented on #382
This was solved by #9544

[2019-08-28 13:11] #382 closed

[2019-10-07 22:42] llam15 commented on #333
Is this the recommended solution for this issue? It seems unfortunate to have to manually set the shaded AHC property, when it worked in Play 2.6. Where is the regression happening?

[2019-10-07 23:18] ranjithv commented on #333
For play prod mode, we have it like below in application.conf:
[code]
For dev mode, we have this in build.sbt. It seems to be running fine
[code]

[2019-10-14 02:58] PAStheLoD opened #407 "Feature request: with custom DNS/name resolver"
### Play WS Version (2.5.x / etc)
N/A

### API (Scala / Java / Neither / Both)
Scala (or Both)

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)
N/A

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)
N/A

### Library Dependencies
AHC (and/or Akka HTTP, though that effort seems rather severely stalled)

### Expected Behavior

Currently there's no way to sanely pass in a different na

[2019-11-20 17:13] fancellu opened #418 "No place to specify a socks4/5 proxy, unlike AsyncHttpClient"
I can't see any place to specify that I'd like wsclient to use a socks proxy, whereas AsyncHttpClient can

https://www.javadoc.io/static/org.asynchttpclient/async-http-client/2.10.4/org/asynchttpclient/proxy/ProxyType.html

vs

https://github.com/playframework/play-ws/blob/f4108eaff2121b25ba4827121937114c415a0d88/play-ws-standalone/src/main/scala/play/api/libs/ws/WS.scala#L81

Thanks

[2019-11-26 12:40] renatocaval opened #419 "javax.annotation classes being added to shaded jar"
async-http-client is now including `javax.annotation` (see https://github.com/AsyncHttpClient/async-http-client/issues/1541 and https://github.com/AsyncHttpClient/async-http-client/commit/e270f787aa770298e15a425623558d6587a067bb).

We need to investigate it further why that specific dependency is not been treated as a transitive deps and is being included in the shaded jar.

Because `javax.activat

[2019-11-26 23:18] fancellu commented on #418
Here's a repo of mine, doing some socks proxy work, with sttp, various backends, even old HttpUrlConnection

https://github.com/fancellu/play-sttp-examples

[2019-11-27 16:07] dwijnand commented on #419
where?

[2019-11-27 16:08] #419 closed

[2019-11-28 13:13] renatocaval commented on #418
Thanks for reporting this.

I added this issue to the backlog, but it can take sometime before someone can find time to pick it.

Would you be interested in sending a PR?

[2019-11-28 13:18] fancellu commented on #418
Sorry, I am up to my eyeballs, currently its not a big issue for me as I can use other solutions (as above)

Just found it odd/unexpected that play-ws didn't support it right now

[2019-11-28 14:35] renatocaval commented on #418
No worries. That is indeed odd. I guess this is not so common case otherwise it would have been reported before.

If there is some interest in the community, it will get fixed sooner. Otherwise, it's when it becomes a priority.

In any case, thanks for reporting it.

[2019-12-09 18:36] fancellu commented on #418
There may well be another issue with ahc itself, that you might want to be aware of:

https://github.com/AsyncHttpClient/async-http-client/issues/1682

[2019-12-13 21:36] fancellu opened #433 "Where does AHC come from in standalone code?"
https://github.com/playframework/play-ws#scala-1

Where does ahc come from?

i.e. ```import play.api.libs.ws.ahc._```

I have the following in my sbt

```libraryDependencies += "com.typesafe.play" %% "play-ws-standalone" % "2.1.2"```

But this doesn't pull in play.api.libs.ws.ahc

This seems to fix it

```libraryDependencies += "com.typesafe.play" %% "play-ahc-ws" % "2.8.0"```

Or should I be doin

[2019-12-13 21:55] wsargent commented on #433
Please see https://github.com/playframework/play-ws/blob/master/README.md#getting-started

[2019-12-13 22:11] fancellu commented on #433
What are you pointing me to?

I pulled in ```"com.typesafe.play" %% "play-ws-standalone" % "2.1.2"

but that wasn't enough

So I had to pull in ```"com.typesafe.play" %% "play-ahc-ws" % "2.8.0"```

Am I not seeing where this was specified?

Thanks

[2019-12-13 22:20] marcospereira commented on #433
Hey @fancellu,

I believe will were pointing you to the section of README.md file that documents the right dependency you need to add:

[code]

You are adding `play-ws-standalone` which is like a SPI while `play-ahc-ws-standalone` is the current implementation that contains `play.api.libs.ws.ahc` package. When you add Play's `play-ahc-ws` it transitively adds the standalone version, and that is wh

[2019-12-13 22:20] #433 closed

[2020-01-20 17:57] Marc2017 opened #447 "Order of Form Parameters is not preserved (application/x-www-form-urlencoded)"
Play WS Version (2.7.2 / etc)
JAVA

In StandaloneAhcWSRequest the order of Form-Parameters is not preserved:

---
                        // XXX shouldn't the encoding be same as charset?
                        Map<String, List<String>> stringListMap = FormUrlEncodedParser.parseAsJava(stringBody, "utf-8");
                        stringListMap.forEach((key, values) -> values.forEach(value -> buil

[2020-01-20 20:33] wsargent commented on #447
So the call is from https://github.com/playframework/play-ws/blob/master/play-ahc-ws-standalone/src/main/java/play/libs/ws/ahc/StandaloneAhcWSRequest.java#L450

Looking at https://github.com/playframework/play-ws/blob/master/play-ahc-ws-standalone/src/main/scala/play/api/libs/ws/ahc/FormUrlEncodedParser.scala#L47 it certainly seems like `parseAsJava` is ordered.

Can you put together a test case?

[2020-01-20 20:46] wsargent commented on #447
Or is it that the `asJava` method doesn't retain sorting order?

If you call

[code]

does that change things for you?

[2020-01-21 07:58] Marc2017 commented on #447
Hi,

seems I have a different implementation:

def parseAsJava(data: String, encoding: String): java.util.Map[String, java.util.List[String]] = {
    import scala.collection.JavaConverters._
    parse(data, encoding).map {
      case (key, values) =>
        key -> values.asJava
    }.asJava
  }

there is no "foreach", there is a "map" - which will change the order.

I´ll check my revision.

Thank

[2020-01-21 08:17] Marc2017 commented on #447
Did you change it to "foreach" in your example?
In the current revision there is also a "map".

[2020-01-21 17:06] wsargent commented on #447
@Marc2017 yeah, the example above is using a `foreach` because it uses an insertion order linked hash map.  It's not what's in the `master` branch.

[2020-02-06 15:14] awouda opened #448 "Some headers keys in 2.8.1 are in lowercase"
### Header names: some in lowercase

We just upgraded our play apps from 2.6.6 to 2.8.1
On our test environments we saw 502 errors coming back from other servers we call via play ws.
It seems that the newer version some headers are now in lower case.

Result from test with 2.8.1:
`
POST / HTTP/1.1
Content-Type: text/xml;charset=UTF-8
content-length: 340
host: localhost:9001
accept: */*
user-agent:

[2020-02-10 08:04] awouda commented on #448
Just discussed an discovered with a colleague that headers are case  insensitive.
So it's the legacy client that rejects our calls.

However, header names in the 2.8.1 look inconsistent, "Content-Type" is with starting uppercase.

[2020-02-10 15:16] #361 closed

[2020-02-24 14:51] johnkjellberg commented on #418
Hi. Any progress on this? I would really like/need this feature. Thanks!

[2020-02-24 15:27] wsargent commented on #418
You can pass in an already configured AHC client into Play that does have this:

https://github.com/playframework/playframework/blob/master/transport/client/play-ahc-ws/src/main/scala/play/api/libs/ws/ahc/AhcWSModule.scala#L220

[2020-02-24 16:52] wsargent commented on #418
For the standalone client, you would do `new StandaloneAhcWSClient(asyncHttpClient)`

[2020-03-09 09:22] ignasi35 opened #481 "Branch `2.1.x` is useless"
Having a branch `2.1.x` is misleading: `master` is the branch to release `2.1.x` versions and we only need `2.0.x` as stable branches in the `2.x.y` series.

If we have a couple 👍🏼 I'll remove `2.1.x` from the branches list as that's confusing.

[2020-03-09 09:22] ignasi35 commented on #481
ping @cchantep @renatocaval  @marcospereira

[2020-03-16 03:31] piotr-chabelski commented on #126
Would be very interested to see this resolved.
Also, is there any good documentation on the workaround anywhere? This seems like a common usecase and the issue remains unaddressed since 2017

[2020-04-06 05:35] xuwei-k opened #488 "XMLBodyReadables has "XML External Entity Injection" vulnerability"
### Play WS Version (2.5.x / etc)

since v2.1.0-M3 to v2.1.2

### API (Scala / Java / Neither / Both)

Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

unrelated

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

unrelated

### Library Dependencies

unrelated

### Expected Behavior

### Actual Behavior

### Reproducible Test Case

[code]

`sbt "integration-tests/testOnly p

[2020-04-28 08:43] raboof opened #498 "JsonRequestSpec: stream with adhoc request filter"
https://travis-ci.com/github/playframework/play-ws/jobs/323723859
[code]

[2020-05-21 15:35] fancellu commented on #418
Unfortunately AHC doesn't do socks/tor name resolution properly, so I ended up using okttp, which does

https://github.com/AsyncHttpClient/async-http-client/issues/1682

https://gist.github.com/fancellu/df6dde59249edf8401b28bbc44a78cbc

[2020-06-04 05:50] #171 closed

[2020-09-03 15:11] sandeepsingh74 opened #528 "Kerberos Authentication issue: SpnegoEngineException: No LoginModules configured for ""
### Play Version
2.8.1

### API
Scala

### Operating System
CentOS Linux release 7.7.1908 (Core)

### JDK
OpenJDK Runtime Environment (build 1.8.0_232-b09)

### Library Dependencies
N/A

### Expected Behavior
The playframework doc says it supports KERBEROS AuthScheme (https://www.playframework.com/documentation/2.8.x/ScalaWS#Configuring-WS). I am trying to connect an end-point which requires Kerbe

[2020-09-11 17:16] Tasselmi opened #532 "Can play-ws handle stream response?"
could you guys give some examples to handle streaming response in non-play program?
THX.

previously I am using `org.apache.http.HttpClient.getEntity` to handle stream response , but it turns out wrong...

[2021-03-19 16:21] mkurz commented on #481
Outdated, we just released 2.1.3 from the 2.1.x branch. If I recall correctly, Marcos force pushed the 2.1.x branch to the correct location.

[2021-03-19 16:21] #481 closed

[2021-05-18 16:53] totibi commented on #528
Here are workaround which i'm found

[code]

And then use as

[code]
Don't use `.withAuth` on this client or it will be overwritten again!
This is looks like source of problem btw
[code]

[2021-06-16 09:01] limpid-kzonix opened #578 "Replace AHC by Akka Client API (akka-http-core)"
This one is supposed to be under GitHub discussions
AHC is basically a dead project now since there's no longer an active maintainer
Is a reason to revamp this play-ws library with Akka HTTP Client API as underlying implementation?

[2021-06-16 10:49] ihostage commented on #578
Looks like a duplicate of #34

[2021-06-16 10:53] ihostage commented on #578
Moreover, @2m already started work some year ago in #208.
Maybe in the future, somebody continues this work.

[2021-06-18 03:36] #578 closed

[2021-07-14 07:50] francisdb opened #587 "Incorrect reflection-config.json for shaded-asynchttpclient?"
I'm using sbt-native-packager to build a graalvm-native image

https://www.scala-sbt.org/sbt-native-packager/formats/graalvm-native-image.html

### Play WS Version (2.5.x / etc)

2.1.3

### API (Scala / Java / Neither / Both)

Scala

### Operating System (Ubuntu 15.10 / MacOS 10.10 / Windows 10)

MacOS 11.4

### JDK (Oracle 1.8.0_72, OpenJDK 1.8.x, Azul Zing)

openjdk 16.0.1 2021-04-20
OpenJDK Run

[2021-08-04 00:13] SethTisue opened #596 "Rename `master` branch to `main`"
it's the new GitHub default

[2021-08-04 00:20] SethTisue commented on #596
branch renamed; concomitant changes in #597

[2021-08-04 00:24] SethTisue opened #598 "Add Scala 3 support"
would a volunteer like to attempt this? it would be helpful even just to have a failing draft PR that shows where the next roadblock is, and then we could chip away it from there

I published ssl-config and cachecontrol today for Scala 3, so that helps

#590 should be merged before any attempt is made at this

[2021-08-04 00:31] SethTisue opened #600 "Add Sonatype-based publishing"
using sbt-ci-release. I can use my recent PRs in other playframework/* repos as a model

[2021-08-04 20:28] mkurz opened #601 "Remove line"
After upgrading to Akka 2.6.16 we can remove following line because then scala-java8-compat will be upgraded, see https://github.com/akka/akka/pull/30375:
https://github.com/playframework/play-ws/blob/eceb4ae820631e6eee1dba9fce60db4a045cc2bc/build.sbt#L102-L103

[2021-08-05 21:31] #596 closed

[2021-08-11 19:11] mkurz commented on #598
@SethTisue As you probably have noticed, #590 got merged.

[2021-08-11 19:20] SethTisue commented on #600
Not sure if there's any real need for this unless/until someone decides to tackle #598 (Scala 3 support)

[2021-08-11 19:21] mkurz commented on #600
A new release of play-ws unlocks https://github.com/playframework/playframework/pull/10901

[2021-08-11 19:21] mkurz commented on #600
See https://github.com/playframework/playframework/pull/10901#issuecomment-892213840

[2021-08-11 19:24] SethTisue commented on #600
Oh, sorry, I should have remembered that. Okay, I'll tackle this soon-ish, then.

[2021-08-11 19:27] mkurz commented on #600
Whenever you have time, I am not under pressure.

[2021-08-15 17:23] mkurz commented on #598
@xuwei-k Do you can/want to help?

[2021-08-16 02:23] xuwei-k commented on #598
Could not compile play-ws with Scala 3 due to https://github.com/lampepfl/dotty/issues/12731 😢

https://github.com/playframework/play-ws/blob/c8429038edce378626996467f33301a7c1b2ad03/play-ws-standalone/src/main/scala/play/api/libs/ws/StandaloneWSRequest.scala#L23

[2021-08-17 03:55] wsargent commented on #598
I thought this was very clever of me at the time.

[2021-08-30 06:54] mkurz commented on #598
@xuwei-k @SethTisue did you see [these 2 comments](https://github.com/lampepfl/dotty/issues/12731#issuecomment-907134727)?  Replacing F-bounds by intersection types? WDYT? Also see https://github.com/lampepfl/dotty/issues/13133 and https://github.com/lampepfl/dotty/issues/10638#issuecomment-739151145

[2021-08-30 23:48] xuwei-k commented on #598
https://github.com/playframework/play-ws/pull/604

[2021-09-01 13:45] #601 closed

[2021-09-07 20:32] SethTisue commented on #598
@mkurz I'm sorry but I don't know what to think about that, and I don't feel that have time to dig into it. :-/

[2021-09-07 20:36] mkurz commented on #598
@SethTisue Currently not so much time as well (coming weeks)...

[2021-11-14 03:27] SethTisue commented on #600
I've unassigned myself now that the handoff of Play to Open Collective is underway.

[2021-12-01 11:59] maxcom opened #623 "Can't use 2.1.4 with Java 8"
Binaries was build on Java 11 and can't be used on Java 8:

[code]

This is well know problem (see https://www.morling.dev/blog/bytebuffer-and-the-dreaded-nosuchmethoderror/ for explanaition). Please rebuild them under Java 8 so they will be compatible with 8 and any modern version of JDK.

[2021-12-01 15:51] octonato commented on #623
@maxcom, thanks for reporting this.

I just published version 2.1.6 build with JDK8. Could you test it out?

[2021-12-01 16:12] maxcom commented on #623
Thank you for fast fix. Our application start fine with 2.1.6 (it crashed on start before this fix).

CI and other tests will run at night. I will let you know if a similar problem occurs.

[2021-12-02 15:32] octonato commented on #623
Great to hear it.

I'm closing this issue for know. Please, don't hesitate to re-open it if needed.

[2021-12-02 15:32] #623 closed

[2021-12-03 09:20] maxcom commented on #623
Found similar issue in play core: https://github.com/playframework/playframework/issues/11033

[2022-03-01 18:05] SethTisue commented on #600
@mkurz is this done now, after #631?

[2022-03-03 13:41] #600 closed

[2022-04-11 14:18] pavlovaleksei opened #671 "IOException Connection closed after many requests"
Hello! We are using play ws to execute requests on a highly loaded system. After running the system for about 30 - 40 minutes, we get an IOException Connection closed error and all further requests stop being executed until the system is restarted. Perhaps you know this problem and you tell me what we are doing wrong?

We use -
Scala version:    2.11.6
Play version:     2.4.11
Akka version:     2.

[2022-04-16 19:44] ihostage commented on #598
Was implemented in #604 but has some comments https://github.com/playframework/play-ws/pull/604#pullrequestreview-906492465 from @mkurz

[2022-05-16 05:36] Tasselmi commented on #126
any update for supporting mult-part data form？

[2022-05-16 07:54] mkurz commented on #126
Pull request to resolve this issue would be welcome.

[2022-05-18 19:13] jhooda commented on #85
The problem is when attaching debugger with a running process using any shaded library. The non-shaded source code won't bind with the shaded classes that belong to the shaded packages such as

`
package play.shaded.ahc.io.netty.channel.nio;
...
public abstract class AbstractNioChannel extends AbstractChannel {
`
The source code is still 266 bytes, see, https://repo1.maven.org/maven2/com/typesafe/

[2022-05-19 10:48] mkurz commented on #85
@jhooda Please open a new issue for that, thanks!

[2022-05-20 15:10] jhooda opened #683 "The problem is when attaching debugger with a running process using any shaded library. The non-shaded source code won't bind with the shaded classes that belong to the shaded packages such as"
The problem is when attaching debugger with a running process using any shaded library. The non-shaded source code won't bind with the shaded classes that belong to the shaded packages such as

[code]
The source code is still 266 bytes, see, https://repo1.maven.org/maven2/com/typesafe/play/shaded-asynchttpclient/2.1.3/

So any plan to correctly publish shaded sources?

A workaround in case someone

[2022-05-20 15:11] jhooda commented on #85
Thanks @mkurz filed the new issue https://github.com/playframework/play-ws/issues/683

[2022-06-29 10:45] arixmkii opened #687 "Upgrade scala-xml for Scala 2.13 to 2.x releases"
Project having play-ws in dependency tree fails to compile for Scala 2.13 when used with scoverage 2.0 plugin.

https://github.com/playframework/play-ws/blob/6827df3431f6864cd9104114f5cec02db5ed1a17/project/Dependencies.scala#L37

Play-ws has scala-xml frozen for Scala 2.12 and 2.13, but it seems that a way to go is considered to use 1.x versions only for Scala 2.12

This is how it is done in scov

[2022-07-06 09:13] #687 closed

[2022-10-05 08:10] xuwei-k commented on #598
🎉

- https://github.com/playframework/play-ws/releases/tag/2.2.0-M2
- https://repo1.maven.org/maven2/com/typesafe/play/play-ws-standalone_3/

[2022-10-05 10:27] #598 closed

[2022-10-10 12:05] jonaskoelker-jypo opened #708 "Null pointer error in `play.api.libs.ws.ahc.CookieBuilder` if cookie has no value"
In my app I construct a `WSRequest` and call `.stream()` on it (this is the Scala API). It's talking to an in-house service, which responds with a `Set-Cookie` header with a cookie name but no cookie value. In my repro setup I use a mock response with a line saying `Set-Cookie: absent-value;`. In both cases I get a null pointer exception.

I tracked it down:

- When I touch the cookies I hit this:

[2022-10-10 12:56] jonaskoelker-jypo opened #709 "[feature] Add support for `SameSite` attribute in `WSCookie`"
The `SameSite` cookie attribute is widespread, see e.g. https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie/SameSite#browser_compatibility.

It would be great if play-ws helped me consume `SameSite` attributes, e.g. by having a `sameSite` field on `WSCookie`.

[2022-10-14 09:04] mprosvitlyk opened #710 "Got "Digest algorithm not supported: md5" on try use DIGEST"
As I understand it, when calling the `ws.url().withAuth(username, password, WSAuthScheme.DIGEST)` function, the **MD5** encryption algorithm is selected by default, but it is not supported and I get an error. How can I force **DIGEST** to use **SHA** or allow configuration to use **MD5**?

The project uses:
[code]
**UPD error log
[code]